{% extends 'base.html.twig' %}

{% block title %}Modification des Comptes{% endblock %}

{% block body %}
    <h1>Modification de Compte</h1>

    {{ include('comptes/_form.html.twig', {'button_label': 'Modifier'}) }}

    <div class="form-inline"><a href="{{ path('comptes_index') }}">Liste des comptes</a> ||

    <a href="{{ path('comptes_edit', {'id': compte.id}) }}">Modifier</a> ||

    {{ include('comptes/_delete_form.html.twig') }}
    </div>
    {{ include('comptes/_liste.html.twig') }}
{% endblock %}