{% extends 'base.html.twig' %}

{% block title %}Liste des comptes{% endblock %}

{% block body %}
    <div class="row">
        <div class="col"><h1>Liste des comptes  par Classe</h1></div>
    <div class="col"><h1><nav>
            <ul class="pagination">
                {% if not app.request.query.get('master') %} <li class="active">
                {% else %} <li>
                {% endif %}
                    <a href="{{ path('comptes_index') }}">Tous</a></li>
                {% for class in 1..9 %}
                    {% if app.request.query.get('master')==class %} <li class="active">
                    {% else %}<li>
                    {% endif %}
                    <a href="{{ path('comptes_index', {'master':  class}) }}">{{ class }}</a></li>
                {% endfor %}
            </ul>
        </nav></h1>
    </div>
    </div>
    <div class="form-group">
        <div class="row">
            {{ include('comptes/_liste.html.twig') }}
        </div>
         <div class="row">
            {{ include('_pagination.html.twig',{'path':'comptes_index', 'master':app.request.query.get('master')}) }}
             <a class="form-inline" href="{{ path('comptes_new') }}">Ajouter un compte</a>
        </div>
    </div>
{% endblock %}