{% extends 'base.html.twig' %}

{% block title %}Details du Compte{% endblock %}

{% block body %}
    <h1>Compte</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ compte.id }}</td>
            </tr>
            <tr>
                <th>NumCompte</th>
                <td>{{ compte.numCompte }}</td>
            </tr>
            <tr>
                <th>Intitule</th>
                <td>{{ compte.intitule }}</td>
            </tr>
            <tr>
                <th>SoldeCourant</th>
                <td>{{ compte.soldeCourant }}</td>
            </tr>
            <tr>
                <th>TypeCompte</th>
                <td>{{ compte.typeCompte }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('comptes_index') }}">Liste des comptes</a>

    <a href="{{ path('comptes_edit', {'id': compte.id}) }}">Modifier</a>

    {{ include('comptes/_delete_form.html.twig') }}
{% endblock %}