{% extends 'base.html.twig' %}

{% block title %}Compenses index{% endblock %}

{% block body %}
    <h1>Compenses | <a href="{{ path('compenses_saisie') }}">Nouvelle compensation</a> </h1>

    {{ form_start(form) }}
    {{ include('_criteres_recherches.html.twig') }}
    {{ form_end(form) }}
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th rowspan="2">DATE</th>
            <th colspan="4"class="text-center"> COMPENSATIONS </th>
            <th rowspan="2">ACTIONS</th>
        </tr>
        <tr>
            <th class="padding-5 text-right"> Attendues </th>
            <th class="padding-5 text-right">Effectuées</th>
            <th class="padding-5 text-right">Ecart</th>
            <th class="padding-5 text-right">Ecart progressif</th>
        </tr>
        </thead>
        <tbody>
        {% set TotalEcart=0 %}
        {% set TotalAttendu=0 %}
        {% set TotalCompense=0 %}
        {% set ecartProgressif=0 %}
        {% for compense in compenses %}
            {% set ecartProgressif= ecartProgressif+compense.mCompense-compense.mAttendu %}
            <tr>
                <td>{{ (compense.dateFin) ? compense.dateFin|date('d-m-Y') : '' }}</td>
                <td class="padding-5 text-right">{{ compense.mAttendu|number_format(0, '.', ' ') }}</td>
                <td class="padding-5 text-right">{{ compense.mCompense|number_format(0, '.', ' ') }}</td>
                <td class="padding-5 text-right">{{ (compense.mCompense-compense.mAttendu)|number_format(0, '.', ' ') }}</td>
                <td class="padding-5 text-right">{{ ecartProgressif|number_format(0, '.', ' ') }}</td>
                <td>
                    <a href="{{ path('compenses_show', {'id': compense.cId}) }}">Details</a> |
                    <a href="{{ path('compenses_edit', {'id': compense.cId}) }}">Modifier</a>
                </td>
            </tr>
            {% set TotalEcart=TotalEcart+compense.mCompense-compense.mAttendu %}
            {% set TotalAttendu=TotalAttendu+compense.mAttendu %}
            {% set TotalCompense=TotalCompense+compense.mCompense %}
        {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement</td>
            </tr>
        {% endfor %}
        <tr  bgcolor="#f69f00">
            <th class="padding-5 text-right">TOTAUX : </th>
            <th class="padding-5 text-right">{{TotalAttendu|number_format(0, '.', ' ') }}</th>
            <th class="padding-5 text-right">{{TotalCompense|number_format(0, '.', ' ') }}</th>
            <th class="padding-5 text-right">{{TotalEcart|number_format(0, '.', ' ') }}</th>
            <th class="padding-5 text-right">{{ecartProgressif|number_format(0, '.', ' ') }}</th>
            <th>
            </th>
        </tr>
        </tbody>
    </table>

{% endblock %}
