{% extends 'base.html.twig' %}

{% block title %}Compenses{% endblock %}

{% block body %}
    <h1>Compenses</h1>

    <table class="table">
        <thead>
        <tr>
            <td> Id : </td><td>{{ compense.id }}</td>
            <td>Période du : </td> <td> {{ compense.dateDebut ? compense.dateDebut|date('d-m-Y H:i:s') : '' }} au {{ compense.dateFin ? compense.dateFin|date('d-m-Y H:i:s') : '' }}</td>

            <td>Total Envoi : </td><td>{{ compense.totalEnvoi|number_format(0, '.', ' ') }}</td>
            <td>Total Reception : </td><td>{{ compense.totalReception|number_format(0, '.', ' ') }}</td>
        </tr>
        </thead>
        <tbody>

        <table class="table table-bordered">
            <thead><tr>
                <th class="text-bold padding-5 text-center" rowspan="2">Transfert </th>
                <th class="text-bold padding-5 text-center" colspan="2">Envois</th>
                <th class="text-bold padding-5 text-center" colspan="2">Receptions</th>
                <th class="text-bold padding-5 text-center" colspan="3">Net</th>
            </tr>
            <tr>
                <th class="text-bold padding-5 text-right">Attendu</th>
                <th class="text-bold padding-5 ">Compensé</th>
                <th class="text-bold padding-5 text-right">Attendu</th>
                <th class="text-bold padding-5 ">Compensé</th>
                <th class="text-bold padding-5 text-right">Attendu</th>
                <th class="text-bold padding-5 ">Compensé</th>
                <th class="text-bold padding-5 ">Ecarts</th>
            </tr>
            </thead>
            <tbody>
            {% set  totalEnvoiAttendu=0%}
            {% set  totalReceptionAttendu=0%}
            {% set  totalEnvoi=0%}
            {% set  totalReception=0%}
            {% for compenseLigne in compense.compenseLignes %}
                <tr class="collection-tag ">
                    <td class="padding-0" bgcolor="#eee9e6" > {{compenseLigne.systemTransfert }}</td>
                    <td class="padding-0 text-right" bgcolor="#eee9e6">{{compenseLigne.mEnvoiAttendu|number_format(0, '.', ' ') }}</td>
                    <td class="padding-0 text-right" bgcolor="#eee9e6">{{ compenseLigne.mEnvoiCompense|number_format(0, '.', ' ') }}</td>
                    <td class="padding-0 text-right" bgcolor="#eee9e6">{{compenseLigne.mReceptionAttendu|number_format(0, '.', ' ') }}</td>
                    <td class="padding-0 text-right" bgcolor="#eee9e6">{{compenseLigne.mReceptionCompense|number_format(0, '.', ' ')}}</td>
                    <td class="padding-0 text-right" bgcolor="#eee9e6">{{(compenseLigne.mEnvoiAttendu-compenseLigne.mReceptionAttendu)|number_format(0, '.', ' ') }}</td>
                    <td class="padding-0 text-right" bgcolor="#eee9e6">{{(compenseLigne.mEnvoiCompense-compenseLigne.mReceptionCompense)|number_format(0, '.', ' ') }}</td>
                    <td class="padding-0 text-right" bgcolor="#eee9e6">{{((compenseLigne.mEnvoiAttendu-compenseLigne.mReceptionAttendu) - (compenseLigne.mEnvoiCompense-compenseLigne.mReceptionCompense))|number_format(0, '.', ' ') }}</td>
                </tr>

                {% set  totalEnvoiAttendu=totalEnvoiAttendu+compenseLigne.mEnvoiAttendu%}
                {% set  totalReceptionAttendu=totalReceptionAttendu+compenseLigne.mReceptionAttendu%}
                {% set  totalEnvoi=totalEnvoi+compenseLigne.mEnvoiCompense%}
                {% set  totalReception=totalReception+compenseLigne.mReceptionCompense%}
            {% else %}
                <tr> <td> aucun enregistrement</td></tr>
            {% endfor %}

            <tr bgcolor="#f69f00">
                <th class="text-bold ">TOTAUX </th>
                <th class="text-bold padding-5 text-right" > {{ totalEnvoiAttendu|number_format(0, '.', ' ') }}</th>
                <th class="text-bold padding-5 text-right">{{ totalEnvoi|number_format(0, '.', ' ') }}</th>
                <th class="text-bold padding-5 text-right"> {{ totalReceptionAttendu|number_format(0, '.', ' ')}}</th>
                <th class="text-bold padding-5 text-right">{{totalReception|number_format(0, '.', ' ')}}</th>
                <th class="text-bold padding-5 text-right"> {{ (totalEnvoiAttendu-totalReceptionAttendu)|number_format(0, '.', ' ')}}</th>
                <th class="text-bold padding-5 text-right"> {{ (totalEnvoi-totalReception)|number_format(0, '.', ' ') }}</th>
                <th class="text-bold padding-5 text-right"> {{ ((totalEnvoiAttendu-totalReceptionAttendu)-(totalEnvoi-totalReception))|number_format(0, '.', ' ') }}</th>
            </tr>

            </tbody>
        </table>

        </tbody>
    </table>

    <h1><a href="{{ path('compenses_index') }}">Liste</a> |
        <a href="{{ path('compenses_edit', {'id': compense.id}) }}">Modifier</a> |
        <a href="{{ path('compenses_saisie') }}">Nouvelle compensation</a> </h1>

    {{ include('compenses/_delete_form.html.twig') }}
{% endblock %}
