<html>
<head>
    <!-- META SECTION -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" lang="fr">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %} WARISSO {% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('css/select2/select2.min.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div class="app app-fh">

    <!-- START APP CONTAINER -->
    <div class="app-container" style="background: url(assets/images/background/bg-1.jpg) center center no-repeat fixed;">

        <div class="app-login-box">
            <div class="app-login-box-user">CONNEXION</div>
            <div class="app-login-box-title">
                <div class="title"></div>
                <div class="subtitle"></div>
            </div>
            <div class="app-login-box-container">
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <form action="{{ path('login') }}" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control"  id="username" name="_username" placeholder="Nom utilisateur">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" name="_password" placeholder="Mot de pass">
                    </div>
                    <div class="form-group">

                        <div class="row">
                                <button type="submit" class="btn btn-success" >Connecter</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
