<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="padding-5"> Date</th>
            <th class="padding-5"> Pièce</th>
            <th class="padding-5"> Compte</th>
            <th class="padding-5"> Libellé</th>
            <th class="padding-5 text-right"> Débit</th>
            <th class="padding-5 text-right"> Crédit</th>
        </tr>
    </thead>
    <tbody>
        {% for ligneEcriture in ecritures %}
            <tr>
                <td class="padding-5 ">{{(ligneEcriture.dateTransaction)?ligneEcriture.dateTransaction|date('d-m-Y'):'' }}</td>

                <td class="padding-5 "><a href="{{ path('transactions_edit', {'id': ligneEcriture.id,'returnRoute':app.request.attributes.get('_route')}) }}">{{ (ligneEcriture.numPiece)?ligneEcriture.numPiece:ligneEcriture.id}}</a></td>

                <td class="padding-5 "><a href="{{ path('compta_grand_livre_specific',{'id': ligneEcriture.compte}) }}">{{ ligneEcriture.numCompte}}</a></td>
                <td class="padding-5 ">{{ (ligneEcriture.libelleTC)?ligneEcriture.libelleTC:ligneEcriture.libelleT}}</td>
                <td class="padding-5 text-right">{{ ligneEcriture.mDebit|number_format(0, '.', ' ')}}</td>
                <td class="padding-5 text-right">{{ ligneEcriture.mCredit|number_format(0, '.', ' ')}}</td>
            </tr>
        {% endfor %}

    </tbody>
</table>