<table class="table table-striped">
    <thead>
        <tr>
            <th>Code</th>
            <th>Type Journal</th>
            <th>Libelle</th>
            <th>Dernier Numéro</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
    {% for journaux_comptable in journaux_comptables %}
        <tr>
            <td>{{ journaux_comptable.code }}</td>
            <td>{{ journaux_comptable.typeJournal }}</td>
            <td>{{ journaux_comptable.libelle }}</td>
            <td>{{ journaux_comptable.dernierNumPiece }}</td>
            <td>
                <a href="{{ path('journaux_comptables_ecritures', {'id': journaux_comptable.id}) }}">Ecritures</a> |
                <a href="{{ path('journaux_comptables_edit', {'id': journaux_comptable.id}) }}">Modifer</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="6">Aucun enregistrement</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
