{% extends 'base.html.twig' %}

{% block title %}Modification de  Caisses{% endblock %}

{% block body %}
    <h1>Modification de Caisses - Banques</h1>

    {{ include('caisses/_form.html.twig', {'button_label': 'Modifier'}) }}

    <div class="form-inline">
        <a href="{{ path('caisses_index') }}">Liste des caisses - Banques</a> ||
        <a href="{{ path('caisses_edit', {'id': caiss.id}) }}">Modifier</a> ||
        {{ include('caisses/_delete_form.html.twig') }}
    </div>
    {{ include('caisses/_liste.html.twig') }}
{% endblock %}