{% extends 'base.html.twig' %}

{% block title %}Caisses{% endblock %}

{% block body %}
    <h1>Details Caisses - Banques</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ caiss.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ caiss.code }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ caiss.libelle }}</td>
            </tr>
            <tr>
                <th>Compte opération</th>
                <td>{{ caiss.compteOperation }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ caiss.statut }}</td>
            </tr>
        </tbody>
    </table>

    <div class="form-inline">
        <a href="{{ path('caisses_index') }}">Liste des caisses - Banques</a> ||
        <a href="{{ path('caisses_edit', {'id': caiss.id}) }}">Modifier</a> ||
        {{ include('caisses/_delete_form.html.twig') }}
    </div>
    {{ include('caisses/_liste.html.twig') }}

{% endblock %}