{% extends 'base.html.twig' %}

{% block title %}Modifier RecetteDepenses{% endblock %}

{% block body %}
    <h1>Modification de Recettes - Depenses |
        {% if  is_granted('ROLE_COMPTABLE') %}
            <a href="{{ path('recette_depenses_index') }}">Liste</a>
        {% else %}
            <a href="{{ path('recette_depenses_comptant') }}">Nouvelle saisie</a>
        {% endif %}

    </h1><div class="form-inline">
    {{ include('journee_caisses/_btn_return_gerer.html.twig') }} </div>

    {{ include('recette_depenses/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('recette_depenses/_delete_form.html.twig') }}
{% endblock %}
