{% extends 'base.html.twig' %}

{% block title %}RecetteDepenses index{% endblock %}

{% block body %}
    <h1>Critères de recherche | <a href="{{ path('recette_depenses_aterme') }}">Saisie Recette-Dépenses à terme</a></h1>

    {{ form_start(form) }}
    {{ include('_criteres_recherches.html.twig') }}
    Compte Gestion : <select id="compteGestion" name="compteGestion" class="">
    <option  {{ (app.request.request.get('compteGestion')=='')?'selected="selected"':''}} value=>Tous</option>
    {% for compteGestion in compteGestions %}
        <option  {{ (compteGestion_id==compteGestion.id)?'selected="selected"':''}} value={{ compteGestion.id }}>{{ compteGestion.numCompteIntitule }}</option>
    {% endfor %}
</select>
    Compte Contrepartie : <select id="compteTier" name="compteTier" class="">
    <option  {{ (app.request.request.get('compteTier')=='')?'selected="selected"':''}} value=>Tous</option>
    {% for compteTier in compteTiers %}
        <option  {{ (compteTier_id==compteTier.id)?'selected="selected"':''}} value={{ compteTier.id }}>{{ compteTier.numCompteIntitule }}</option>
    {% endfor %}
</select>
    Utilisateurs : <select id="utilisateur" name="utilisateur" class="">
    <option  {{ (app.request.request.get('utilisateur')=='')?'selected="selected"':''}} value=>Tous</option>
    {% for utilisateur in utilisateurs %}
        <option  {{ (utilisateur_id==utilisateur.id)?'selected="selected"':''}} value={{ utilisateur.id }}>{{ utilisateur }}</option>
    {% endfor %}
</select>
    Type Opération : <select id="typeOperationComptable" name="typeOperationComptable" >
    <option  {{ (app.request.request.get('typeOperationComptable')=='')?'selected="selected"':''}} value=>Tous</option>
    {% for typeOperationComptable in typeOperationComptables %}
        <option  {{ (typeOperationComptable_id==typeOperationComptable.id)?'selected="selected"':''}} value={{ typeOperationComptable.id }}>{{ typeOperationComptable.libelle }}</option>
    {% endfor %}
</select>
    Statut : <select id="statut" name="statut" class="">
    <option  {{ (app.request.request.get('statut')=='')?'selected="selected"':''}} value="">Tous</option>
    <option  {{ (statut=='I')?'selected="selected"':''}} value="I">INITIAL</option>
    <option  {{ (statut=='V')?'selected="selected"':''}} value="V">VALIDE</option>
    <option  {{ (statut=='C')?'selected="selected"':''}} value="C">COMPTABILISE</option>
</select>
    {{ form_end(form) }}

    <h1>Recettes et dépenses</h1>

    {{ include('recette_depenses/_liste.html.twig')}}


{% endblock %}
