{% extends 'base.html.twig' %}

{% block title %}Saisie des dépenses et recettes{% endblock %}

{% block body %}
    <h1>Saisie des dépenses et recettes
        {% if estComptant %}
            au COMPTANT
        {% else %}
            à TERME
        {% endif %}
    </h1><div class="form-inline">
    {{ include('journee_caisses/_btn_return_gerer.html.twig') }} </div>

    {{ include('recette_depenses/_form.html.twig') }}
<div class="row">
    <div class="col"> <h1> Recettes-depenses au Comptant</h1>
        {{ include('recette_depenses/_liste_journee_caisse.html.twig', {'recetteDepenses':recetteDepensesComptant}) }}
    </div>
    {% if  is_granted('ROLE_COMPTABLE') %}
    <div class="col"><h1> Recettes-depenses à terme</h1>
        {{ include('recette_depenses/_liste_journee_caisse.html.twig', {'recetteDepenses':recetteDepensesAterme}) }}

    </div>
    {% endif %}
</div>
    {% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
