{% extends 'base.html.twig' %}

{% block title %}Edit SystemTransfert{% endblock %}

{% block body %}
    <h1>Modification du système de transfert</h1>

    {{ include('system_transfert/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class="form-inline"><a href="{{ path('system_transfert_index') }}">Retour à la liste</a> ||

        <a href="{{ path('system_transfert_edit', {'id': system_transfert.id}) }}">Modifier</a> ||

        {{ include('system_transfert/_delete_form.html.twig') }}
    </div>
    {{ include('system_transfert/_liste.html.twig') }}
{% endblock %}