<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="padding-5 text-right">Description</th>
            <th class="padding-5 text-right">Envoi TTC</th>
            <th class="padding-5 text-right">Reception</th>
            <th class="padding-5 text-right">Net</th>
            <th class="padding-5 text-center" colspan="2">Volume activités</th>
        </tr>
    </thead>
    <tbody>
        {% set mEnvoiTTCGeneral=0 %}
        {% set mReceptionGeneral=0 %}
        {% for sytemTransfert in systemTransfertCompenses %}

            {% set mTotalEnvoiTTC=0 %}
            {% set mTotalReception=0 %}

            {% for compense in sytemTransfert.compenses %}
                {% set mEnvoiTTC=compense.mEnvoi +compense.mFrais +compense.mTVA+compense.mAutresTaxes%}
                {% set mTotalEnvoiTTC=mTotalEnvoiTTC+mEnvoiTTC%}
                {% set mTotalReception=mTotalReception+compense.mReception%}
                {% if affichage=='caisse' or  affichage=='agence'%}
                    <tr>
                        <td class="padding-5  text-right">{{(affichage=='caisse')?compense.caisse|upper:compense.agence|upper}}</td>
                        <td class="padding-5 text-right">{{mEnvoiTTC|number_format(0, '.', ' ')}}</td>
                        <td class="padding-5 text-right">{{compense.mReception|number_format(0, '.', ' ')}}</td>
                        <td class="padding-5 text-right">{{(mEnvoiTTC-compense.mReception)|number_format(0, '.', ' ')}}</td>
                        <td class="padding-5 text-right">{{(compense.mReception+mEnvoiTTC)|number_format(0, '.', ' ')}}</td>
                        <td class="padding-5 text-right">{{(mTotalTransfert!=0)?((compense.mReception+mEnvoiTTC)/mTotalTransfert*100)|number_format(2, ',', ' '):0}} %</td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="6" class="text-center"> Aucune ligne trouvée</td>
                </tr>
            {% endfor %}
            {% if affichage=='transfert' or affichage==null%}
            <tr>
                <td class="padding-5  text-right">{{ ( sytemTransfert.libelle)?sytemTransfert.libelle|upper:''}}</td>
                <td class="padding-5 text-right">
                    <a href="{{ path('transfert_internationaux_index', {
                        'dateDebut': (criteres.dateDebut)?criteres.dateDebut|date('Y-m-d') : '',
                        'dateFin':(criteres.dateFin)?criteres.dateFin|date('Y-m-d') : '',
                        'systemTransfert':sytemTransfert.id,
                        'sens':1}) }}">
                    {{mTotalEnvoiTTC|number_format(0, '.', ' ')}}</a>
                </td>
                <td class="padding-5 text-right">
                    <a href="{{ path('transfert_internationaux_index', {
                        'dateDebut': (criteres.dateDebut)?criteres.dateDebut|date('Y-m-d') : '',
                        'dateFin':(criteres.dateFin)?criteres.dateFin|date('Y-m-d') : '',
                        'systemTransfert':sytemTransfert.id,
                        'sens':2}) }}">
                    {{mTotalReception|number_format(0, '.', ' ')}}</a>
                </td>
                <td class="padding-5 text-right">{{(mTotalEnvoiTTC-mTotalReception)|number_format(0, '.', ' ')}}</td>
                <td class="padding-5 text-right">{{(mTotalEnvoiTTC+mTotalReception)|number_format(0, '.', ' ')}}</td>
                <td class="padding-5 text-right">{{(mTotalTransfert!=0)?((mTotalEnvoiTTC+mTotalReception)/mTotalTransfert*100)|number_format(2, ',', ' '): 0}} %</td>
            </tr>

            {% endif %}
            {% set mEnvoiTTCGeneral=mEnvoiTTCGeneral+mTotalEnvoiTTC %}
            {% set mReceptionGeneral=mReceptionGeneral+ mTotalReception%}
        {% else %}
            <tr>
                <td colspan="4" class="text-center"> Aucune ligne trouvée</td>
            </tr>
        {% endfor %}
        <tr bgcolor="#f69f00">
            <th class="padding-5  text-right">TOTAL GENERAL</th>
            <th class="padding-5 text-right">{{mEnvoiTTCGeneral|number_format(0, '.', ' ')}}</th>
            <th class="padding-5 text-right">{{mReceptionGeneral|number_format(0, '.', ' ')}}</th>
            <th class="padding-5 text-right">{{(mEnvoiTTCGeneral-mReceptionGeneral)|number_format(0, '.', ' ')}}</th>
            <th class="padding-5 text-right">{{(mEnvoiTTCGeneral+mReceptionGeneral)|number_format(0, '.', ' ')}}</th>
            <th class="padding-5 text-right">{{(mTotalTransfert!=0)?((mEnvoiTTCGeneral+mReceptionGeneral)/mTotalTransfert*100)|number_format(0, '.', ' '):0}} %</th>
        </tr>
    </tbody>
</table>