{% extends 'base.html.twig' %}
{% block title %}Saisie des transferts internationaux{% endblock %}

{% block body %}
    <div>
        <div class="form-row">
            <div class="col-4">
                {{ include('journee_caisses/_btn_return_gerer.html.twig') }}
            </div>
            <div class="col-8">
                <h1>Transferts internationaux</h1>
            </div>
        </div>
        {{ form_start(form, {'attr': {'onsubmit':'return confirm("Confirmer l\'enregistrement ?");'} } ) }}
        {# ... #}

        {# store the prototype on the data-prototype attribute #}
        <div class="table-responsive">
            <table id="transfert-fields-list"
                   data-prototype="
{{ '<td class="padding-0">'|e }}{{ form_widget(form.transfertInternationaux.vars.prototype.idSystemTransfert)|e }}
{##}{{ '</td><td class="padding-0">'|e }}{{ form_widget(form.transfertInternationaux.vars.prototype.sens)|e }}
{{ '</td><td class="padding-0">'|e }}{{ form_widget(form.transfertInternationaux.vars.prototype.idPays)|e }}
{{ '</td><td class="padding-0">'|e }}{{ form_widget(form.transfertInternationaux.vars.prototype.mTransfert)|e }}
{{ '</td><td class="padding-0">'|e }}{{ form_widget(form.transfertInternationaux.vars.prototype.mTransfertTTC)|e }}
{{ '</td>'|e }}"
                   data-widget-tags="{{ '<tr classe=\"transfert\"></tr>'|e }}" class="transfert table table-bordered"  data-list="#transfert-fields-list" onchange="majTransfert()">
                <thead>
                {#<tr>
                    {% if envoi %}<h1> Saisie des transferts envoyés</h1>{% else %}<h1> Saisie des transferts payés</h1>{% endif %}
                </tr>#}
                <tr> <th colspan="2">Total des envois : </th> <td class="text-bold padding-5 text-center" > {{ form_widget(form.mEmissionTrans) }}</td>
                    <th>Total des paiements :</th> <td colspan="2" class="text-bold padding-5 text-center" > {{ form_widget(form.mReceptionTrans) }}</td>

                </tr>
                <tr>
                    <th class="text-bold padding-5 text-center" >Type</th>
                    <th class="text-bold padding-5 text-center" >Sens</th>
                    <th class="text-bold padding-5 text-center">Pays</th>
                    <th class="text-bold padding-5 text-center">Montant</th>
                    <th class="text-bold padding-5 text-center">Montant Total</th>
                    <th class="text-bold padding-5 text-center"></th>

                </tr>
                </thead>
                    {% for trans in form.transfertInternationaux %}
                        <tr class="transfert ">
                            <td class="padding-0">{{ form_errors(trans.idSystemTransfert) }} {{ form_widget(trans.idSystemTransfert) }}</td>
                            <td class="padding-0">{{ form_errors(trans.sens) }} {{ form_widget(trans.sens) }}</td>
                             <td class="padding-0">{{ form_errors(trans.idPays) }} {{ form_widget(trans.idPays) }}</td>
                            <td class="padding-0">{{ form_errors(trans.mTransfert) }} {{ form_widget(trans.mTransfert) }}</td>
                            <td class="padding-0">{{ form_errors(trans.mTransfertTTC) }} {{ form_widget(trans.mTransfertTTC) }}</td>
                            {#<td class="text-bold padding-0 text-center">{{ form_errors(trans.mFraisHt) }} {{ form_widget(trans.mFraisHt) }}</td>
                            <td class="text-bold padding-0 text-center">{{ form_errors(trans.mTva) }} {{ form_widget(trans.mTva) }}</td>
                            <td class="text-bold padding-0 text-center">{{ form_errors(trans.mAutresTaxes) }} {{ form_widget(trans.mAutresTaxes) }}</td>#}
                        </tr>
                    {% endfor %}

            </table>
            {#<button type="button" id="add-another-collection-widget" class="add-another-collection-widget" data-list="#transfert-fields-list">Ajouter</button>#}
            {% if journeeCaisse.statut!="F" %}
                <div class="form-group">
                    <button class="btn btn-info" type="submit" name="enregistreretfermer" id="enregistreretfermer" >Enregistrer et Fermer</button>
                    <button class="btn btn-info" type="submit" name="enregistrer" id="enregistrer" >Enregistrer</button>
                </div>
            {% endif %}
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}

