{% extends 'base.html.twig' %}

{% block title %}Transferts Internationaux {% endblock %}

{% block body %}
    <h1>Transferts internationaux | <a href="{{ path('compta_compenses') }}">Tableau croisé des transferts</a></h1>

    {{ form_start(form) }}
    {{ include('_criteres_recherches.html.twig') }}
    CAISSE : <select id="caisse" name="caisse" class="">
    <option  {{ (app.request.request.get('caisse')=='')?'selected="selected"':''}} value="">Tous</option>
    {% for caisse in caisses %}
        <option  {{ (caisse_id==caisse.id)?'selected="selected"':''}} value={{ caisse.id }}>{{ caisse }}</option>
    {% endfor %}
</select>
    Type Transfert : <select id="systemTransfert" name="systemTransfert" class="">
    <option  {{ (app.request.request.get('systemTransfert')=='')?'selected="selected"':''}} value="">Tous</option>
    {% for systemTransfert in systemTransferts %}
        <option  {{ (systemTransfert_id==systemTransfert.id)?'selected="selected"':''}} value={{ systemTransfert.id }}>{{ systemTransfert.libelle }}</option>
    {% endfor %}
</select>
    Sens : <select id="sens" name="sens" class="">
    <option  {{ (app.request.request.get('sens')=='')?'selected="selected"':''}} value="">Tous</option>
    <option  {{ (sens==1)?'selected="selected"':''}} value=1>Envoi</option>
    <option  {{ (sens==2)?'selected="selected"':''}} value=2>Reception</option>
</select>
    {{ form_end(form) }}


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Caisse</th>
                <th>Date</th>
                <th>Transfert</th>
                <th>Sens</th>
                <th>Pays</th>
                <th>Montant TTC</th>
            </tr>
        </thead>
        <tbody>
        {% for transfert in listingTransferts %}
            <tr>
                <td>{{ transfert.caisse }}</td>
                <td>{{ (transfert.dateTransfert)?transfert.dateTransfert|date('d-m-Y') : ''  }}</td>
                <td>{{ transfert.typeTransfert }}</td>
                <td>{{ (transfert.sens ==1)?'Envoi':'Reception'}}</td>
                <td>{{ transfert.pays }}</td>
                {#<td>{{ transfert.mTransfert|number_format(0, '.', ' ') }}</td>
                <td>{{ (transfert.mFraisHt+transfert.mTva+transfert.mAutresTaxes)|number_format(0, '.', ' ') }}</td>#}
                <td>{{ transfert.mTransfertTTC|number_format(0, '.', ' ') }}</td>
                <td>
                    {% if  is_granted('ROLE_COMPTABLE') %}
                        <a href="{{ path('transfert_internationaux_show', {'id': transfert.id,
                            'dateDebut': (criteres.dateDebut)?criteres.dateDebut|date('Y-m-d') : '',
                            'dateFin':(criteres.dateFin)?criteres.dateFin|date('Y-m-d') : '',
                            'systemTransfert':systemTransfert_id,
                            }) }}">Supprimer</a> |
                        <a href="{{ path('transfert_internationaux_edit', {'id': transfert.id,
                            'dateDebut': (criteres.dateDebut)?criteres.dateDebut|date('Y-m-d') : '',
                            'dateFin':(criteres.dateFin)?criteres.dateFin|date('Y-m-d') : '',
                            'systemTransfert':systemTransfert_id,
                        }) }}">Modifier</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun enregistrement trouvé !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}