{% extends 'base.html.twig' %}

{% block title %}TransfertInternationaux{% endblock %}

{% block body %}
    <h1>TransfertInternationaux</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ transfert_internationaux.id }}</td>
            </tr>
            <tr>
                <th>Sens</th>
                <td>{{ (transfert_internationaux.sens==1)?'Envoi':'Reception' }}</td>
            </tr>
            <tr>
                <th>MTransfert</th>
                <td>{{ transfert_internationaux.mTransfert }}</td>
            </tr>
            <tr>
                <th>MFraisHt</th>
                <td>{{ transfert_internationaux.mFraisHt }}</td>
            </tr>
            <tr>
                <th>MTva</th>
                <td>{{ transfert_internationaux.mTva }}</td>
            </tr>
            <tr>
                <th>MAutresTaxes</th>
                <td>{{ transfert_internationaux.mAutresTaxes }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('transfert_internationaux_index', {
        'dateDebut': app.request.query.get('dateDebut'),
        'dateFin':app.request.query.get('dateFin'),
        'systemTransfert':app.request.query.get('systemTransfert'),
    }) }}">Liste</a> |

    <a href="{{ path('transfert_internationaux_edit', {'id': transfert_internationaux.id,
        'dateDebut': app.request.query.get('dateDebut'),
        'dateFin':app.request.query.get('dateFin'),
        'systemTransfert':app.request.query.get('systemTransfert'),
    }) }}">Modifier</a>

    {{ include('transfert_internationaux/_delete_form.html.twig') }}
{% endblock %}