{% extends 'base.html.twig' %}

{% block title %}Collaborateur détails{% endblock %}

{% block body %}
    <h1>Détails du collaborateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ collaborateur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ collaborateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ collaborateur.prenom }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ collaborateur.dateNaissance ? collaborateur.dateNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date d'entrée</th>
                <td>{{ collaborateur.dateEntree ? collaborateur.dateEntree|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date de sortie</th>
                <td>{{ collaborateur.dateSortie ? collaborateur.dateSortie|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ collaborateur.statut }}</td>
            </tr>
            <tr>
                <th>Nombre d'enfant</th>
                <td>{{ collaborateur.nbEnfant }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ collaborateur.categorie }}</td>
            </tr>
            <tr>
                <th>Numéro Securite Sociale</th>
                <td>{{ collaborateur.nSecuriteSociale }}</td>
            </tr>
            <tr>
                <th>Salaire de base</th>
                <td>{{ collaborateur.mSalaireBase }}</td>
            </tr>
            <tr>
                <th>Indemnités de logement</th>
                <td>{{ collaborateur.mIndemLogement }}</td>
            </tr>
            <tr>
                <th>Indemnités de Transport</th>
                <td>{{ collaborateur.mIndemTransport }}</td>
            </tr>
            <tr>
                <th>Indemnités de Fonction</th>
                <td>{{ collaborateur.mIndemFonction }}</td>
            </tr>
            <tr>
                <th>Autres indemnités</th>
                <td>{{ collaborateur.mIndemAutres }}</td>
            </tr>
            <tr>
                <th>Heures supplémentaires</th>
                <td>{{ collaborateur.mHeureSup }}</td>
            </tr>
            <tr>
                <th>Securité Sociale Salarié</th>
                <td>{{ collaborateur.mSecuriteSocialeSalarie }}</td>
            </tr>
            <tr>
                <th>Securité Sociale Patronale</th>
                <td>{{ collaborateur.mSecuriteSocialePatronal }}</td>
            </tr>
            <tr>
                <th>Impots sur Salaire</th>
                <td>{{ collaborateur.mImpotSalarie }}</td>
            </tr>
            <tr>
                <th>Taxe Patronale</th>
                <td>{{ collaborateur.mTaxePatronale }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('collaborateurs_index') }}"> Liste </a> |

    <a href="{{ path('collaborateurs_edit', {'id': collaborateur.id}) }}"> Modifier </a>

    {{ include('collaborateurs/_delete_form.html.twig') }}
{% endblock %}
