<table class="table">
    <thead>
    <tr>
        <th>Compte</th><th>Client</th><th>Montant</th><th>libelle</th>
    </tr>
    </thead>
    <tbody>
    {% for depot in journeeCaisse.transactions %}
        {% for trcpte in depot.transactionComptes %}
            {% if (trcpte.compte.typeCompte!='i') and (trcpte.mCredit) %}
                <tr><td>{{ trcpte.numCompte }}</td><td>{{ trcpte.compte.client.nom }}  {{ trcpte.compte.client.prenom }}</td><td>{{ trcpte.mCredit }}</td><td>{{ depot.libelle }}</td></tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </tbody>
</table>

