<table class="table">
    <thead>
    <tr>
        <th>Compte</th><th>Client</th><th>libelle</th><th>Depot</th><th>Retrait</th>
    </tr>
    </thead>
    <tbody>
    <th colspan="3">Total</th><th>{{ journeeCaisse.mDepotClient|number_format(0, '.', ' ') }}</th><th>{{ journeeCaisse.mRetraitClient|number_format(0, '.', ' ') }}</th>
    {% for depotRetrait in journeeCaisse.transactions %}
        {% for trcpte in depotRetrait.transactionComptes %}
            {% if (trcpte.compte.typeCompte!='I') %}
                <tr><td>{{ trcpte.numCompte }}</td><td>{{ trcpte.compte.client.nom }}  {{ trcpte.compte.client.prenom }}</td><td>{{ trcpte.transaction.libelle }}</td><td>{{ (trcpte.mDebit)?'':trcpte.mCredit|number_format(0, '.', ' ') }}</td><td>{{ (trcpte.mDebit)?trcpte.mDebit|number_format(0, '.', ' '):'' }}</td></tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </tbody>
</table>