{% extends 'base.html.twig' %}

{% block body %}
    <h1> Depot dans un compte</h1>
    {{ form_start(form) }}
    <table>
        <tr>
            <td>Compte</td><td>{{ form_widget(form.numCompte) }}</td><td><p id="nom"></p></td>
        </tr>
        <tr>
            <td>Montant</td><td>{{ form_widget(form.mCredit) }}</td>
        </tr>
        <tr>
            <td>Libelle</td><td>{{ form_widget(form.libele) }}</td>
        </tr>
        <tr>
            <td><button class="btn-primary btn" type="submit">Enregistrer</button></td><td></td>
        </tr>
    </table>
    <div hidden>{{ form_rest(form) }}
        <input type="hidden" name="_journeeCaisse" value="{{ journeeCaisse.id }}">
        <input type="hidden" name="_operation" value="{{ operation }}">
    </div>
{{ form_end(form) }}
    {% if operation=="FERMER" %}
        <div class="form-inline">
            {{ include('journee_caisses/_btn_action_url.html.twig',{'path':'journee_caisses_gerer','btn_name':'femer', 'btn_label':'FERMER'}) }}
        </div>
    {% elseif operation=="OUVRIR" %}
        <div class="form-inline">
            {{ include('journee_caisses/_btn_action_url.html.twig',{'path':'journee_caisses_ouvrir','btn_name':'femer', 'btn_label':'FERMER'}) }}
        </div>
    {% endif %}
    {{ include('transaction_comptes/_liste_depots.html.twig') }}
{% endblock %}

{% block title %}

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript">
        $("#depot_retrait_numCompte").keyup(function () {
            chargerNomCompte();
        });

    </script>
{% endblock %}

