{% extends 'base.html.twig' %}

{% block body %}
    <h1> Depot dans un compte</h1>
    {{ form_start(form) }}
    <table>
        <tr>
            <td>Compte</td><td>{{ form_widget(form.numCompte) }}</td><td><p id="nom"></p></td>
        </tr>
        <tr>
            <td>Montant</td><td>{{ form_widget(form.mCredit) }}</td>
        </tr>
        <tr>
            <td>Libelle</td><td>{{ form_widget(form.libele) }}</td>
        </tr>
        <tr>
            <td><button type="submit">Enregistrer</button></td><td><button type="button">Fermer</button></td>
        </tr>
    </table>
    <div hidden>{{ form_rest(form) }}</div>
{{ form(form) }}
    <script type="text/javascript">
        $("#depot_retrait_numCompte").keyup(function () {
            chargerNomCompte();
        });
    </script>
{% endblock %}

{% block title %}

{% endblock %}

