{% extends 'base.html.twig' %}

{% block body %}
    <div class="form-row">
        <div >
            {{ include('journee_caisses/_btn_return_gerer.html.twig') }}
        </div>
        <div >
            {{ include('journee_caisses/_btn_action_url.html.twig',{'path':'retrait' , 'operation':'FERMER','btn_name':'midifier', 'btn_label':'Retraits'}) }}
        </div>
    </div>
    <h1> Depot dans un compte</h1>
    {{ form_start(form, {'attr': {'onsubmit':'return confirm("Voulez vous continuer ?");'} } ) }}
    <table class="table">
        <tr>
            <td>Compte</td><td>{{ form_widget(form.numCompte) }}</td><td><p id="nom"></p></td>
        </tr>
        <tr>
            <td>Montant</td><td>{{ form_widget(form.mCredit) }}{{ form_errors(form.mCredit) }}</td>
        </tr>
        <tr>
            <td>Libelle</td><td>{{ form_widget(form.libele) }}</td>
        </tr>
        <tr>
            {% if journeeCaisse.statut!="F" %}
            <td><button class="btn-info" name="enregistrer" id="enregistrer">{{ button_label|default('Enregistrer et Nouveau') }}</button></td>
            <td><button class="btn-info" name="enregistreretfermer" id="enregistreretfermer">{{ button_label|default('Enregistrer et Fermer') }}</button></td>
            {% endif %}
        </tr>
    </table>
    <div hidden>{{ form_rest(form) }}
        <input type="hidden" name="_journeeCaisse" value="{{ journeeCaisse.id }}">
        <input type="hidden" name="_operation" value="{{ operation }}">
    </div>

{{ form_end(form) }}
    {{ include('transaction_comptes/_liste_depots.html.twig') }}
{% endblock %}

{% block title %}

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript">
        $("#depot_numCompte").change(function () {
            chargerNomCompte();
        });


    </script>
{% endblock %}

