{% extends 'base.html.twig' %}

{% block body %}
    <h1> Retrait d'un compte</h1>
    {{ form_start(form, {'attr': {'onsubmit':'return confirm("Voulez vous continuer ?");'} } ) }}
    <table>
        <tr>
            <td>Compte</td><td>{{ form_widget(form.numCompte) }}</td><td><label id="nom"></label></td>
        </tr>
        <tr>
            <td>Montant</td><td>{{ form_widget(form.mDebit) }}{{ form_errors(form.mDebit) }}</td><td><input id="solde" hidden><label id="ersolde"></label></td>
        </tr>
        <tr>
            <td>Libelle</td><td>{{ form_widget(form.libele) }}</td>
        </tr>
        <tr>
            {% if journeeCaisse.statut!="F" %}
                <td><button TYPE="submit" class="btn-primary btn" name="enregistrer" id="enregistrer">{{ button_label|default('Enregistrer et Nouveau') }}</button></td>
                <td><button TYPE="submit" class="btn-primary btn" name="enregistreretfermer" id="enregistreretfermer">{{ button_label|default('Enregistrer et Fermer') }}</button></td>
            {% endif %}
        </tr>
    </table>
    <div hidden>{{ form_rest(form) }}
        <input type="hidden" name="_journeeCaisse" value="{{ journeeCaisse.id }}">
        <input type="hidden" name="_operation" value="{{ operation }}">
    </div>
{{ form_end(form) }}
    <div class="form-inline">
        {{ include('journee_caisses/_btn_return_gerer.html.twig') }}
    </div>
{#{% if journeeCaisse.statut=="O" %}
        <div class="form-inline">
            {{ include('journee_caisses/_btn_action_url.html.twig',{'path':'journee_caisses_gerer','btn_name':'femer', 'btn_label':'FERMER'}) }}
        </div>
    {% elseif journeeCaisse.statut=="I" %}
        <div class="form-inline">
            {{ include('journee_caisses/_btn_action_url.html.twig',{'path':'journee_caisses_ouvrir','btn_name':'femer', 'btn_label':'FERMER'}) }}
        </div>
    {% elseif journeeCaisse.statut=="F" %}
        <div class="form-inline">
            {{ include('journee_caisses/_btn_action_url.html.twig',{'path':'journee_caisses_show','btn_name':'femer', 'btn_label':'FERMER'}) }}
        </div>
    {% endif %}#}
    {{ include('transaction_comptes/_liste_retraits.html.twig') }}
{% endblock %}

{% block title %}

{% endblock %}
{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript">
        $("#retrait_numCompte").change(function () {
            chargerNomCompte();
        });

        $("#retrait_mDebit").keyup(function () {
            $('#enregistrer').show();
            $('#enregistreretfermer').show();
            document.getElementById("ersolde").innerHTML = "";
            if (valeur("#depot_retrait_mDebit")>valeur("#solde")) {
                document.getElementById("ersolde").innerHTML = "solde insufisant";
                $('#enregistrer').hide();
                $('#enregistreretfermer').hide();
            }
        });

    </script>
{% endblock %}

