{% extends 'base.html.twig' %}

{% block body %}
    <h1> Retrait d'un compte</h1>
    {{ form_start(form) }}
    <table>
        <tr>
            <td>Compte</td><td>{{ form_widget(form.numCompte) }}</td><td><label id="nom"></label></td>
        </tr>
        <tr>
            <td>Montant</td><td>{{ form_widget(form.mDebit) }}</td><td><input id="solde" hidden><label id="ersolde"></label></td>
        </tr>
        <tr>
            <td>Libelle</td><td>{{ form_widget(form.libele) }}</td>
        </tr>
        <tr>
            <td><button type="submit" id="submit">Enregistrer</button></td><td></td>
        </tr>
    </table>
    <div hidden>{{ form_rest(form) }}
        <input type="hidden" name="_journeeCaisse" value="{{ journeeCaisse.id }}">
        <input type="hidden" name="_operation" value="{{ operation }}">
    </div>
{{ form_end(form) }}
    {% if operation=="FERMER" %}
        <div class="form-inline">
            {{ include('journee_caisses/_btn_action_url.html.twig',{'path':'journee_caisses_gerer','btn_name':'femer', 'btn_label':'FERMER'}) }}
        </div>
    {% elseif operation=="OUVRIR" %}
        <div class="form-inline">
            {{ include('journee_caisses/_btn_action_url.html.twig',{'path':'journee_caisses_ouvrir','btn_name':'femer', 'btn_label':'FERMER'}) }}
        </div>
    {% endif %}
    {{ include('transaction_comptes/_liste_retraits.html.twig') }}
{% endblock %}

{% block title %}

{% endblock %}
{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript">
        $("#depot_retrait_numCompte").keyup(function () {
            chargerNomCompte();
        });

        $("#depot_retrait_mDebit").keyup(function () {
            document.getElementById("submit").disabled=false;
            document.getElementById("ersolde").innerHTML = "";
            if (valeur("#depot_retrait_mDebit")>valeur("#solde")) {
                document.getElementById("ersolde").innerHTML = "solde insufisant";
                //document.getElementById("submit").disabled=true;
            }
        });
    </script>
{% endblock %}

