{% extends 'base.html.twig' %}

{% block title %}TransactionComptes{% endblock %}

{% block body %}
    <h1>TransactionComptes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ transaction_compte.id }}</td>
            </tr>
            <tr>
                <th>NumCompte</th>
                <td>{{ transaction_compte.numCompte }}</td>
            </tr>
            <tr>
                <th>MDebit</th>
                <td>{{ transaction_compte.mDebit }}</td>
            </tr>
            <tr>
                <th>MCredit</th>
                <td>{{ transaction_compte.mCredit }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('transaction_comptes_index') }}">back to list</a>

    <a href="{{ path('transaction_comptes_edit', {'id': transaction_compte.id}) }}">edit</a>

    {{ include('transaction_comptes/_delete_form.html.twig') }}
{% endblock %}