{% extends 'base.html.twig' %}

{% block title %}Entreprises index{% endblock %}

{% block body %}
    <h1>Entreprises index | <a href="{{ path('entreprises_new') }}">Nouvelle saisie</a></h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Libelle</th>
                <th>Adresse</th>
                <th>Répresentant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entreprise in entreprises %}
            <tr>
                <td>{{ entreprise.id }}</td>
                <td>{{ entreprise.code }}</td>
                <td>{{ entreprise.libelle }}</td>
                <td>{{ entreprise.adresse }}</td>
                <td>{{ entreprise.representant }}</td>
                <td>
                    <a href="{{ path('entreprises_show', {'id': entreprise.id}) }}">Details</a> |
                    <a href="{{ path('entreprises_edit', {'id': entreprise.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
