<h1>Critères d'édition {{ type }}</h1>
{{ form_start(form) }}
<div class="form-group">
    <div class="row">
        <div class="col">
            Du compte {{ form_widget(form.compteDebut) }}
        </div>
        <div class="col">
            au compte{{ form_widget(form.compteFin) }}
        </div>
        <div class="col">
            Periode du {{ form_widget(form.dateDebut) }}
        </div>
        <div class="col">
            au {{ form_widget(form.dateFin) }}
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        {% if  type == 'Balance générale'%}
            <div class="col-3">
               <select id="type_affichage_balance" name="type_affichage_balance" class="form-control"><option {{ (affichage=='4C')?'selected="selected"':'' }} value="4C">4 colonnes </option><option  {{ (affichage=='6C')?'selected="selected"':''}} value="6C">6 colonnes</option></select>
            </div>
        {% endif %}
        <div class="col">
            <button type="submit" class="btn btn-info">{{ button_label|default('AFFICHER') }}</button>
        </div>
    </div>
</div>
{{ form_end(form) }}