{{ form_start(form) }}
<div class="form-group">
    <div class="row">
        <div class="col">
            Periode du {{ form_widget(form.dateDebut) }}
        </div>
        <div class="col">
            au {{ form_widget(form.dateFin) }}
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        {% if type=='compense' %}
        <div class="col-3">
            <select id="type_affichage" name="type_affichage" class="form-control"><option  {{ (affichage=='resume')?'selected="selected"':''}} value="resume">Résumé</option><option {{ (affichage=='detail')?'selected="selected"':'' }} value="detail">Détails</option></select>
        </div>
        {% endif %}
        <div class="col-3">
            <button type="submit" class="btn btn-info">{{ button_label|default('AFFICHER') }}</button>
        </div>
    </div>
</div>
{{ form_end(form) }}