{% extends 'base.html.twig' %}

{% block title %}compense transfert{% endblock %}

{% block body %}
    <h1>Suivi des transferts | <a href="{{ path('transfert_internationaux_index') }}">Listing des transferts</a></h1>

    {{ form_start(form) }}
        {{ include('_criteres_recherches.html.twig') }}
       <select id="type_affichage" name="type_affichage" class="">
            <option  {{ (affichage=='transfert')?'selected="selected"':''}} value="transfert">Par transfert</option>
            <option {{ (affichage=='caisse')?'selected="selected"':'' }} value="caisse">Par caisse</option>
            <option {{ (affichage=='detail')?'selected="selected"':'' }} value="detail">Détails</option>
        </select>

    {{ form_end(form) }}

    {% if affichage=='detail' %}
        {{ include('compta/_compense_detail.html.twig') }}
    {% else %}
        {{ include('compta/_compense_resume.html.twig') }}
    {% endif %}

{% endblock %}