{#{{ form_start(form , 'attr': {'onsubmit' : 'return confirm();'}) }}#}
{{ form_start(form, {'attr': {'onsubmit':'return confirm("Voulez vous continuer ?");'} } ) }}
<table class="table">
    <tr>
        <td>Caisse Partenaire</td><td>{{ form_widget(form.journeeCaisseSortant) }}</td>
    </tr><tr>
        <td>Montant</td><td>{{ form_widget(form.mIntercaisse) }} {{ form_errors(form.mIntercaisse) }}</td>
    </tr>{#<tr>
        <td>Status</td><td>{{ form_widget(form.statut) }}</td>
    </tr>#}<tr>
        <td>Commentaire</td><td>{{ form_widget(form.observations) }}</td>
    </tr>
</table>
{% if journeeCaisse.statut!="F" %}
<button  class="btn-info" name="enregistrer" id="enregistrer">{{ button_label|default('Enregistrer et Nouveau') }}</button>
<button  class="btn-info" name="enregistreretfermer" id="enregistreretfermer">{{ button_label|default('Enregistrer et Fermer') }}</button>
{% endif %}
<input type="hidden" name="_operation" value="{{ operation }}">
<input type="hidden" name="_journeeCaisse" value="{{ journeeCaisse.id }}">
{{ form_end(form) }}
<div class="form-inline">
    {{ include('journee_caisses/_btn_return_gerer.html.twig') }}
</div>
{#{% if journeeCaisse.statut=="O" %}
        <div class="form-inline">
            {{ include('journee_caisses/_btn_action_url.html.twig',{'path':'journee_caisses_gerer','btn_name':'femer', 'btn_label':'FERMER'}) }}
        </div>
    {% elseif journeeCaisse.statut=="I" %}
        <div class="form-inline">
            {{ include('journee_caisses/_btn_action_url.html.twig',{'path':'journee_caisses_ouvrir','btn_name':'femer', 'btn_label':'FERMER'}) }}
        </div>
    {% elseif journeeCaisse.statut=="F" %}
        <div class="form-inline">
            {{ include('journee_caisses/_btn_action_url.html.twig',{'path':'journee_caisses_show','btn_name':'femer', 'btn_label':'FERMER'}) }}
        </div>
    {% endif %}#}