{{ form_start(form) }}
<table>
    <tr>
        <td>Caisse Partenaire</td><td>{{ form_widget(form.journeeCaisseSortant) }}</td>
    </tr><tr>
        <td>Montant</td><td>{{ form_widget(form.mIntercaisse) }}</td>
    </tr>{#<tr>
        <td>Status</td><td>{{ form_widget(form.statut) }}</td>
    </tr>#}<tr>
        <td>Commentaire</td><td>{{ form_widget(form.observations) }}</td>
    </tr>
</table>

    {#{{ form(form) }}#}
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
{% if operation=="FERMER" %}
    <div class="form-inline">
        {{ include('journee_caisses/_btn_action_url.html.twig',{'path':'journee_caisses_gerer','btn_name':'femer', 'btn_label':'FERMER'}) }}
    </div>
{% elseif operation=="OUVRIR" %}
    <div class="form-inline">
        {{ include('journee_caisses/_btn_action_url.html.twig',{'path':'journee_caisses_ouvrir','btn_name':'femer', 'btn_label':'FERMER'}) }}
    </div>
{% endif %}