{% extends 'base.html.twig' %}

{% block title %}New InterCaisses{% endblock %}

{% block body %}
    <h1>Inter-Caisse {{ journeeCaisse.caisse }}</h1>

    {{ include('inter_caisses/_form.html.twig') }}

    <form method="post" action="{{ path('inter_caisses_ajout', {'id':journeeCaisse.id}) }}">

        <button type="button" id="validerIntercaisses" value="btest"> VALIDER TOUT</button>

    <table class="table">
        <thead>
        <tr>
            <th>Partenaire</th>
            <th>Montant</th>
            <th>Status</th>
            <th>Observations</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Inter caisses Recus</td>
            <td>{{ totalR }}</td>
        </tr>
        {% set i = 0 %}
        {% for intercaisse in journeeCaisse.intercaisseEntrants  %}

            <tr>
                <td>{{ intercaisse }}</td>
                <td>{{ intercaisse.mIntercaisse }}</td>
                <td>{{ (intercaisse.statut=='VA')
                    ?'Auto Validé':(intercaisse.statut=='VD')
                    ?'Validé':(intercaisse.statut=='XE')
                    ?'Annulation en Cours':'Annulé'}}
                </td>
                {#<td>{% if intercaisse.statut=='av' %}Auto Validé{% elseif intercaisse.statut=='ae' %}Annulation en Cours{% else %}Annulation Acceptée{% endif %}</td>#}
                <td>{{ intercaisse.observations }}</td>
                {#<td>{% if intercaisse.statut=='ae' %}<button value="{{ intercaisse.id }}aa" class="boutonintercaisse" type="button">Accepte Annulation</button>{% endif  %}</td>#}
                <td><div class="form-row">
                        {#{% if  intercaisse.statut=='X'  %}
                                {{ include('intercaisses/_btn_action.html.twig',{'btn_id':"{{ intercaisse.id }}v",'btn_name':'valider', 'btn_label':'Valider', 'confirm_message':'VALIDER DEFINITIVEMENT INTERCAISSE ?'}) }}
                            {% endif %}#}
                            {% if  intercaisse.statut=='XE' %}
                                {{ include('intercaisses/_btn_action.html.twig',{'btn_value':''~intercaisse.id~'XD','btn_name':'accepteAnnuler', 'btn_label':'Accepter Annulation', 'confirm_message':'Annuler Vraiment cet intercaisse ?'}) }}
                            {% endif %}

                    </div>
                </td>
                <td > <input hidden value="{{ intercaisse.statut }}" class="statutintercaisse" id="intercaisse{{ i }}"></td>
                {% set i = i+1 %}
            </tr>
        {% else %}
            <tr> <td colspan="5"> Aucun Enregistrement trouve.</td></tr>
        {% endfor %}
        </tbody>
    </table>

    <table class="table">
        <thead><tr><th>Partenaire</th><th>Montant</th><th>Status</th><th>Observations</th><th>Action</th></tr></thead>
        <tbody>
        <tr><td>Inter caisses Emis</td><td>{{ totalE }}</td></tr>
        {% for intercaisse in journeeCaisse.intercaisseSortants  %}
            <tr>
                <td>{{ intercaisse }}</td>
                <td>{{ intercaisse.mIntercaisse }}</td>
                <td>{{ (intercaisse.statut=='VA')
                    ?'Auto Validé':(intercaisse.statut=='VD')
                    ?'Validé':(intercaisse.statut=='XE')
                    ?'Annulation en Cours':'Annulé'}}
                </td>
                {#<td>{% if intercaisse.statut=='av' %}Auto Validé{% elseif intercaisse.statut=='ae' %}Annulation en Cours{% else %}Annulation Acceptée{% endif %}</td>#}
                <td>{{ intercaisse.observations }}</td>
                {#<td>{% if intercaisse.statut=='ae' %}<button value="{{ intercaisse.id }}aa" class="boutonintercaisse" type="button">Accepte Annulation</button>{% endif  %}</td>#}
                <td><div class="form-row">
                        {#{% if  intercaisse.statut=='XE'  %}
                            {{ include('intercaisses/_btn_action.html.twig',{'btn_id':"{{ intercaisse.id }}v",'btn_name':'valider', 'btn_label':'Valider', 'confirm_message':'VALIDER DEFINITIVEMENT INTERCAISSE ?'}) }}
                        {% endif %}#}
                        {% if  intercaisse.statut=='VA' %}
                            {{ include('intercaisses/_btn_action.html.twig',{'btn_id':''~intercaisse.id~'XE', 'btn_value':''~intercaisse.id~'XE','btn_name':'Annuler', 'btn_label':'Annuler', 'confirm_message':'Annuler Vraiment cet intercaisse ?'}) }}
                        {% endif %}

                    </div>
                </td>
                <td > <input hidden value="{{ intercaisse.statut }}" class="statutintercaisse" id="intercaisse{{i}}"></td>
                {% set i = i+1 %}
            </tr>
        {% else %}
            <tr> <td colspan="5">Aucun Enregistrement trouve.</td></tr>
        {% endfor %}
        <div id="dialog-confirm" title="Confirmation de la suppression" style="display:none;">
            <p>
                <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
                Etes-vous sûr de vouloir supprimer cet élément ?
            </p>
        </div>

        </tbody>
    </table>
        <div hidden>
            <input type="hidden" name="_journeeCaisse" value="{{ journeeCaisse.id }}">
            <input type="hidden" name="_operation" value="{{ operation }}">
        </div>
    </form>


{% endblock %}
{% block javascripts %}

    {{ parent() }}

<script type="text/javascript">
    $("#validerIntercaisses").click(function () {
        //var i=1;
        var estPret=true;
        var list= $('form').find("input.statutintercaisse");
        for (var i = 0; i < list.length; i++) {
            if($("#intercaisse"+i).val()=='XE')
                estPret=false;
        }

        if (estPret==true) {
            valider();
        }
        else alert("Vous avez une annulation d'intercaisse en cours. Corrigez les avant de valider ");
    });

</script>
{% endblock %}