{% extends 'base.html.twig' %}

{% block title %}InterCaisses index{% endblock %}

{% block body %}
    <h1>InterCaisses index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>MIntercaisse</th>
                <th>Statut</th>
                <th>Observations</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inter_caiss in inter_caisses %}
            <tr>
                <td>{{ inter_caiss.id }}</td>
                <td>{{ inter_caiss.mIntercaisse }}</td>
                <td>{{ inter_caiss.statut }}</td>
                <td>{{ inter_caiss.observations }}</td>
                <td>
                    <a href="{{ path('inter_caisses_show', {'id': inter_caiss.id}) }}">show</a>
                    <a href="{{ path('inter_caisses_edit', {'id': inter_caiss.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('inter_caisses_new') }}">Create new</a>
{% endblock %}