{% extends 'base.html.twig' %}

{% block title %}InterCaisses{% endblock %}

{% block body %}
    <h1>InterCaisses</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ inter_caiss.id }}</td>
            </tr>
            <tr>
                <th>MIntercaisse</th>
                <td>{{ inter_caiss.mIntercaisse }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ inter_caiss.statut }}</td>
            </tr>
            <tr>
                <th>Observations</th>
                <td>{{ inter_caiss.observations }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('inter_caisses_index') }}">back to list</a>

    <a href="{{ path('inter_caisses_edit', {'id': inter_caiss.id}) }}">edit</a>

    {{ include('inter_caisses/_delete_form.html.twig') }}
{% endblock %}