{% extends 'base.html.twig' %}

{% block title %}Edit Devises{% endblock %}

{% block body %}
    <h1>Modifier devise</h1>

    {{ include('devises/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class="form-inline"><a href="{{ path('devises_index') }}">Retour à la liste</a> ||

        <a href="{{ path('devises_edit', {'id': devise.id}) }}">Modifier</a> ||

        {{ include('devises/_delete_form.html.twig') }}
    </div>
    {{ include('devises/_liste.html.twig') }}
{% endblock %}