{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-bordered">
        <thead>
        <tr><th>Devises</th><th>Taux de reference</th><th>Achat</th><th>Vente</th><th>action</th></tr>
        </thead>
        <tbody>
        {{ form_start(form) }}
        <tr><td>{{ form_widget(form.code) }}</td><td>{{ form_widget(form.txReference) }}</td><td>{{ form_widget(form.formuleAchat) }}</td><td>{{ form_widget(form.formuleVente) }}</td><td>
                <input type="submit" value="Enregistrer"></td></tr>

        {% for devise in devises %}
            {{ form_end(form) }}
        <tr><td>{{ devise.code }}</td><td>{{ devise.txReference }}</td><td>{{ devise.txAchat }}</td><td>{{ devise.txVente }}</td>
            <td>{{ include('devises/_btn_action_url.html.twig',{'path':'taux_devises', 'id':devise.id, 'operation':'FERMER' ,'btn_name':'Modifier', 'btn_label':'Modifier', 'confirm_message':'Confirmation du changement de taux. Confirmer ?'}) }}</td></tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block title %}

{% endblock %}
