{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        <thead>
        <tr><th>DATE</th><th>Devise</th><th>Stock Ouverture</th><th>Stock Fermeture</th><th>Taux</th><th>MARGE</th><th>Vente - Achat</th><th>Cumul</th></tr>
        </thead>
        <tbody>
        {% for row in etat %}
            <tr><td>{{ row.dt }}</td><td>{{ row.devise }}</td><td>{{ row.ouverture }}</td><td>{{ row.fermeture }}</td><td>{{ row.taux }}</td><td>{{ row.marge }}</td><td>{{ row.VA }}</td><td>{{ row.cummul }}</td></tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block title %}

{% endblock %}

