<html>
<head>
    <meta charset="UTF-8">
<script type="text/javascript">
    function imprimer_recu(){
        window.print();
    }
</script>
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/impression.css') }}" type="text/css" media="print" />
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/select2/select2.min.css') }}">
{% endblock %}


</head>
<body >
{% block body %}
    <DIV id="btn-action" class="btn-action" style="position:absolute; left:10px; top:10px;">
        <form>
            <input id="imprimer" name="imprimer" type="button" onclick="imprimer_recu()" value="Imprimer" class="btn-primary"/>
            <input id="retour" name="retour" type="button" onclick="window.history.back()" value="retour" class="btn-primary"/>
        </form>
        {#<div style="position: absolute;left:130px;top:0px;">
            {{ include('journee_caisses/_btn_return_gerer.html.twig') }}
        </div>#}
    </DIV>
    {% for etatType in etatType %}

        <div>
            <div style="page-break-after: always" id="rapport">
                <table class="table table-noborder datatable-basic" >
                    <tr id="date"> <td >OUAGADOUGOU,</td><td style="font-weight: bold"> {{ 'now'|date('d/m/Y') }}</td></tr>
                    <tr id="intitule"><td >RELEVE DES OPERATIONS DE TRANSFERTS DU</td><td style="font-weight: bold"> {{ dateDeb.format('d/m/Y') }} au {{ dateFin.format('d/m/Y') }}</td></tr>
                    <tr><td>NOM ET PRENOM DU REPONDANT</td><td style="font-weight: bold">{{ entreprise.nomRepresentant }} {{ entreprise.prenomRepresentant }}</td></tr>
                    <tr><td>QUALITE DU REPONDANT</td><td style="font-weight: bold">{{ entreprise.qualiteRepresentant }}</td></tr>
                    <tr><td>TELEPHONE/FAX/E_MAIL DU REPONDANT</td><td style="font-weight: bold">{{ entreprise.adresse }}</td></tr>
                    <tr><td>SOCIETE REPRESENTEE</td><td style="font-weight: bold">{{ etatType.typeTransfert }}</td></tr>
                    <tr><td>REPRESENTANT</td><td style="font-weight: bold">{{ etatType.banque }}</td></tr>
                </table>
                <table class="table table-bordered">
                    <tr>
                        <th>TRANSFERT EN MILLIONS</th>
                        <th class="text-nowrap text-right" colspan="2">EMIS</th>
                        <th class="text-nowrap text-right" colspan="2">RECUS</th>
                    </tr>
                    {% for etatTypeZone in etatTypeZone %}
                        {% if etatTypeZone.typeId == etatType.typeId %}
                            <tr><th>{{ etatTypeZone.zone }}</th><th class="text-nowrap text-right" colspan="2">{{ (etatTypeZone.emis)?etatTypeZone.emis|number_format(0, '.', ' '):0 }}</th><th class="text-nowrap text-right" colspan="2">{{ (etatTypeZone.recus)?etatTypeZone.recus|number_format(0, '.', ' '):0 }}</th></tr>
                            {% for transfert in etat %}
                                {% if transfert.typeId == etatTypeZone.typeId %}
                                    {#{% if transfert.0.sens==1 %} {% set nemis = nemis + 1 %}{% else %}{% set nrecus = nrecus + 1 %}{% endif %}#}
                                    {% if transfert.zone == etatTypeZone.zone and etatTypeZone.detail!=0 %}
                                        <tr><td  class="padding-left-30">{{ transfert.paysId }}</td><td class="text-nowrap text-right" colspan="2">{{ (transfert.emis)?transfert.emis|number_format(0, '.', ' '):0 }}</td><td class="text-nowrap text-right" colspan="2">{{ (transfert.recus)?transfert.recus|number_format(0, '.', ' '):0 }}</td></tr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    <tr><th>TOTAL</th><th class="text-nowrap text-right" colspan="2">{{ (etatType.EMIS)?etatType.EMIS|number_format(0, '.', ' '):0 }}</th><th class="text-nowrap text-right" colspan="2">{{ (etatType.RECUS)?etatType.RECUS|number_format(0, '.', ' '):0 }}</th></tr>
                    <tr><th>NOMBRE D'OPERATIONS</th><th class="text-nowrap text-right" colspan="2">{{ etatType.NEMIS }}</th><th class="text-nowrap text-right" colspan="2">{{ etatType.NRECUS }}</th></tr>
                    <tr> <th>MONTANT DES TAXES RECUES (en F CFA)</th><th colspan="2"></th><th colspan="2"></th></tr>
                    <tr><th>MONTANT DES TAXES REVERSEES A L'ETAT (en F CFA)</th><th colspan="2"></th><th colspan="2"></th></tr>
                    <tr><th>NOMBRE D'EMPLOIS GENERES</th><th colspan="2"></th><th colspan="2"></th></tr>
                </table>

            </div>
        </div>
    {% else %}
        <h1>Aucun transfert trouvé. choisissez un autre mois</h1>
    {% endfor %}

{% endblock %}
</body>