{% extends 'base.html.twig' %}
{% block body %}
    <div class="form-inline">
        {{ form_start(form) }}
        {{ form_widget(form.date.year) }}
        {{ form_widget(form.date.month) }}
        <button class="btn">{{ button_label|default('CHANGER') }}</button>
        <div hidden>{{ form_rest(form) }}</div>
        {{ form_end(form) }}
        {{ include('etats/_btn_action_url.html.twig',{'path':'etats_rapport_transfert','value':dateDeb.format('Y/m/d'),'btn_name':'aperçue','btn_label':'aperçue'}) }}
    </div>
    {% for etatType in etatType %}
        {% set nrecus=0%}
        {% set nemis=0%}
        {#<div class="accessoire"><a href="#" onclick="$('#rapport').tableExport({type:'pdf',escape:'false'});"><img src="img/icons/pdf.png" width="24"> PDF</a>
        </div>#}
        <div>
            <div style="page-break-after: always" id="rapport">
                <table class="table table-noborder datatable-basic" >
                    <tr id="date"> <td >OUAGADOUGOU,</td><td style="font-weight: bold"> {{ 'now'|date('d/m/Y') }}</td></tr>
                    <tr id="intitule"><td >RELEVE DES OPERATIONS DE TRANSFERTS DU</td><td style="font-weight: bold"> {{ dateDeb.format('d/m/Y') }} au {{ dateFin.format('d/m/Y') }}</td></tr>
                    <tr><td>NOM ET PRENOM DU REPONDANT</td><td style="font-weight: bold">{{ entreprise.nomRepresentant }} {{ entreprise.prenomRepresentant }}</td></tr>
                    <tr><td>QUALITE DU REPONDANT</td><td style="font-weight: bold">{{ entreprise.qualiteRepresentant }}</td></tr>
                    <tr><td>TELEPHONE/FAX/E_MAIL DU REPONDANT</td><td style="font-weight: bold">{{ entreprise.adresse }}</td></tr>
                    <tr><td>SOCIETE REPRESENTEE</td><td style="font-weight: bold">{{ etatType.typeTransfert }}</td></tr>
                    <tr><td>REPRESENTANT</td><td style="font-weight: bold">{{ etatType.banque }}</td></tr>
                </table>
                <table class="table table-bordered">
                    <tr>
                        <th>TRANSFERT EN MILLIONS</th>
                        <th>EMIS</th>
                        <th>RECUS</th>
                    </tr>
                    {% for etatTypeZone in etatTypeZone %}
                        {% if etatTypeZone.typeId == etatType.typeId %}
                            <tr><th>{{ etatTypeZone.zone }}</th><th class="text-nowrap text-right">{{ (etatTypeZone.emis)?etatTypeZone.emis|number_format(0, '.', ' '):0 }}</th><th class="text-nowrap text-right">{{ (etatTypeZone.recus)?etatTypeZone.recus|number_format(0, '.', ' '):0 }}</th></tr>
                            {% for transfert in etat %}
                                {% if transfert.typeId == etatTypeZone.typeId %}
                                    {% if transfert.zone == etatTypeZone.zone and etatTypeZone.detail!=0 %}
                                        <tr><td class="padding-left-30">{{ transfert.paysId }}</td><td class="text-nowrap text-right">{{ (transfert.emis)?transfert.emis|number_format(0, '.', ' '):0 }}</td><td class="text-nowrap text-right">{{ (transfert.recus)?transfert.recus|number_format(0, '.', ' '):0 }}</td></tr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    <tr><th>TOTAL</th><th class="text-nowrap text-right">{{ (etatType.EMIS)?etatType.EMIS|number_format(0, '.', ' '):0 }}</th><th class="text-nowrap text-right">{{ (etatType.RECUS)?etatType.RECUS|number_format(0, '.', ' '):0 }}</th></tr>
                    <tr><th>NOMBRE D'OPERATIONS</th><th class="text-nowrap text-right">{{ etatType.NEMIS|number_format(0, '.', ' ') }}</th><th class="text-nowrap text-right">{{ etatType.NRECUS|number_format(0, '.', ' ') }}</th></tr>
                    <tr> <th>MONTANT DES TAXES RECUES (en F CFA)</th><th></th><th></th></tr>
                    <tr><th>MONTANT DES TAXES REVERSEES A L'ETAT (en F CFA)</th><th></th><th></th></tr>
                    <tr><th>NOMBRE D'EMPLOIS GENERES</th><th></th><th></th></tr>
                </table>

            </div>
        </div>
        {% else %}
        <h1>Aucun transfert trouvé. choisissez un autre mois</h1>
    {% endfor %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/tableExport.js') }}"></script>
    <script src="{{ asset('js/jspdf.js') }}"></script>
    <script src="{{ asset('js/sprintf.js') }}"></script>
    <script src="{{ asset('js/base64.js') }}"></script>
{% endblock %}
{% block title %}

{% endblock %}

