{{ form_start(form, {'attr': {'class': 'form-vertical','onsubmit':"return confirm('Confirmer la validation ?');"}}) }}
<div class="form-group">
    <div class="form-row">
        <div class="col-2">
            {{ form_label(form.nom) }}
        </div>
        <div class="col-4">
            {{ form_widget(form.nom) }}
        </div>
        <div class="col-2">
            {{ form_label(form.prenom) }}
        </div>
        <div class="col-4">
            {{ form_widget(form.prenom) }}
        </div>
    </div>

    <div class="form-row">
        <div class="col-2">
            {{ form_label(form.adresse) }}
        </div>
        <div class="col">
            {{ form_widget(form.adresse) }}
        </div>
    </div>

    <div class="form-row">
        <div class="col-2">
            {{ form_label(form.typePiece) }}
        </div>
        <div class="col-4">
            {{ form_widget(form.typePiece) }}
        </div>
        <div class="col-2">
            {{ form_label(form.paysPiece) }}
        </div>
        <div class="col-4">
            {{ form_widget(form.paysPiece) }}
        </div>
    </div>

    <div class="form-row">
        <div class="col-2">
            {{ form_label(form.numPiece) }}
        </div>
        <div class="col-4">
            {{ form_widget(form.numPiece) }}
        </div>
        <div class="col-2">
            {{ form_label(form.expireLe) }}
        </div>
        <div class="col-4">
            {{ form_widget(form.expireLe) }}
        </div>
    </div>

    <div class="form-row">
        <div class="col-2">
            {{ form_label(form.motif) }}
        </div>
        <div class="col-10">
            {{ form_widget(form.motif) }}
        </div>
    </div>

    <div class="form-row">
        <div class="col-2">
            {{ form_label(form.sens) }}
        </div>
        <div class="col-4" onchange="changeSensTx()">
            {{ form_widget(form.sens) }}
        </div>
    </div>

</div>

    <div class="form-group">
        {{ include('devise_recus/_collection_form.html.twig') }}

    </div>

    <div class="form-group">
    {{ form_widget(form.save_and_new) }} {{ form_widget(form.save_and_close) }} {{ form_widget(form.save_and_print) }}
        {{ form_end(form) }}
    </div>

