{% extends 'base.html.twig' %}

{% block title %}Devises - Achat | Vente{% endblock %}

{% block body %}
    <h1>Bordereau d'achat ou vente de devises</h1>

    {{ include('devise_recus/_form.html.twig') }}

    <table class="table">
        <thead>
        <tr>
            <th>DEVISE</th>
            <th>QTE</th>
            <th>TAUX</th>
            <th>MOUVEMENTS CFA</th>
        </tr>
        </thead>

        <tbody>
            {% for deviseRecu in journeeCaisse.deviseRecus %}

            {% for deviseMouvement in  deviseRecu.deviseMouvements %}
            <tr>
                <td> {{ deviseMouvement.devise }}</td>
                <td>{{ deviseMouvement.nombre }} ( {{ (deviseMouvement.nombre < 0)?'SORTIE':'ENTREE'}} ) </td>
                <td> {{ deviseMouvement.taux }}</td>
                <td> {{ deviseMouvement.contreValeur }}  ( {{ (deviseMouvement.contreValeur < 0)?'SORTIE':'ENTREE'}})</td>
            </tr>

            {% endfor %}


    {% endfor %}

        </tbody>
    </Table>


    <a href="{{ path('devise_recus_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('js/dm.js') }}"></script>


{% endblock %}