{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inventaire des soldes electroniques</h1>
    {{ form_start(form) }}
    {% if journeeCaisse %}<input type="hidden" name="_journeeCaisse" value="{{ journeeCaisse.id }}">{% endif %}
    <table onchange="majElectronique()">
        <thead>
        <tr>
            <th class="text-bold padding-0 text-left" bgcolor="#f69f00">Date</th>
            {% if journeeCaisse %}<th class="text-bold padding-0 text-left" bgcolor="#f69f00">{{ journeeCaisse.dateOuv.format('d-m-Y H:i:s') }}</th>{% endif %}
            </tr>
        <tr><th class="text-bold padding-0 text-left" bgcolor="#f69f00">Systemes electroniques</th>
            <th class="text-bold padding-0 text-left" bgcolor="#f69f00"><div class="form-inline"> Solde{{ form_widget(form.soldeTotal) }}</div></th></tr>
        </thead>
        <tbody>
        {% for seil in form.systemElectLigneInventaires %}
        <tr><td bgcolor="#a9a9a9">{{ form_widget(seil.idSystemElect) }}</td>
            <td>{{ form_widget(seil.solde) }}{{ form_errors(seil.solde) }}</td></tr>
        {% endfor %}
        </tbody>
    </table>
    {% if journeeCaisse %}{% if journeeCaisse.statut!="F" %}
        <input type="submit" value="Enregistrer">
    {% endif %}{% endif %}
    {{ include('_btn_close.html.twig') }}
    <div hidden>
        {{ form_rest(form) }}
        <input type="hidden" name="_operation" value="{{ operation }}">
        <input id="nombreElect" value="{{ elects|length}}">
    </div>
    {{ form_end(form) }}
    {#<div class="form-inline">
        {{ include('journee_caisses/_btn_return_gerer.html.twig') }}
    </div>#}

{#{% if journeeCaisse.statut=="O" %}
        <div class="form-inline">
            {{ include('journee_caisses/_btn_action_url.html.twig',{'path':'journee_caisses_gerer','btn_name':'femer', 'btn_label':'FERMER'}) }}
        </div>
    {% elseif journeeCaisse.statut=="I" %}
        <div class="form-inline">
            {{ include('journee_caisses/_btn_action_url.html.twig',{'path':'journee_caisses_ouvrir','btn_name':'femer', 'btn_label':'FERMER'}) }}
        </div>
    {% elseif journeeCaisse.statut=="F" %}
        <div class="form-inline">
            {{ include('journee_caisses/_btn_action_url.html.twig',{'path':'journee_caisses_show','btn_name':'femer', 'btn_label':'FERMER'}) }}
        </div>
    {% endif %}#}
{% endblock %}

{% block title %}

{% endblock %}
{% block javascripts %}

    {{ parent() }}


{% endblock %}

