{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    <input type="hidden" name="_journeeCaisse" value="{{ journeeCaisse.id }}">
    <table onchange="majElectronique()">
        <thead>
        <tr><th>Date</th><th>{{ form_widget(form.dateInventaire) }}</th><th>Total</th><th>{{ form_widget(form.soldeTotal) }}</th></tr>
        <tr><th>Systemes electroniques</th><th>Solde</th></tr>
        </thead>
        <tbody>
        {% for seil in form.systemElectLigneInventaires %}
        <tr><td>{{ form_widget(seil.idSystemElect) }}</td><td>{{ form_widget(seil.solde) }}</td></tr>
        {% endfor %}
        </tbody>
    </table>
    <input type="submit" value="Enregistrer"> <input type="reset">
    <div hidden>
        {{ form_rest(form) }}
        <input type="hidden" name="_operation" value="{{ operation }}">
        <input id="nombreElect" value="{{ elects|length}}">
    </div>
    {{ form_end(form) }}
    {% if operation=="FERMER" %}
        <div class="form-inline">
            {{ include('journee_caisses/_btn_action_url.html.twig',{'path':'journee_caisses_gerer','btn_name':'femer', 'btn_label':'FERMER'}) }}
        </div>
    {% elseif operation=="OUVRIR" %}
        <div class="form-inline">
            {{ include('journee_caisses/_btn_action_url.html.twig',{'path':'journee_caisses_ouvrir','btn_name':'femer', 'btn_label':'FERMER'}) }}
        </div>
    {% endif %}
{% endblock %}

{% block title %}

{% endblock %}
{% block javascripts %}

    {{ parent() }}


{% endblock %}

