<table class="table table-striped">
    <thead>
    <tr>
        {#<th>Id</th>#}
        <th>Nom</th>
        <th>Prenom</th>
        <th>Login</th>
        <th>Mdp</th>
        <th>EstCaissier</th>
        <th>Role</th>
        <th>Status</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for utilisateur in utilisateurs %}
        <tr>
            {#<td>{{ utilisateur.id }}</td>#}
            <td>{{ utilisateur.nom }}</td>
            <td>{{ utilisateur.prenom }}</td>
            <td>{{ utilisateur.login }}</td>
            <td>''</td>
            <td>{{ utilisateur.estCaissier ? 'Oui' : 'Non' }}</td>
            <td>{% for role in utilisateur.roles %} {{ role }},{% endfor %} </td>
            <td>{{ utilisateur.status }}</td>
            <td>
                <a href="{{ path('utilisateurs_show', {'id': utilisateur.id}) }}">Voir</a>
                <a href="{{ path('utilisateurs_edit', {'id': utilisateur.id}) }}">Modifier</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="8">Aucun utilsateur trouvé</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
