{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <h1>Utilisateurs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ utilisateur.id }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ utilisateur.login }}</td>
            </tr>
            <tr>
                <th>Mdp</th>
                <td>{{ utilisateur.mdp }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ utilisateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ utilisateur.prenom }}</td>
            </tr>
            <tr>
                <th>EstCaissier</th>
                <td>{{ utilisateur.estCaissier ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{% for role in utilisateur.roles %} {{ role }},{% endfor %} </td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ utilisateur.status }}</td>
            </tr>
        </tbody>
    </table>

    <div class="form-inline">
        <a href="{{ path('utilisateurs_index') }}">Retour à la liste</a> ||

    <a href="{{ path('utilisateurs_edit', {'id': utilisateur.id}) }}">Modifier</a> ||

    {{ include('utilisateurs/_delete_form.html.twig') }}
    </div>
    {{ include('utilisateurs/_liste.html.twig') }}
{% endblock %}