{% extends 'base.html.twig' %}

{% block title %}Positionnement des Salaires{% endblock %}

{% block body %}
    <h1>Positionnement des salaires</h1>
{{ form_start(form, {'attr': {'onsubmit':'return confirm("OPERATION IRREVERSIBLE. CONFIRMER ?");'} }) }}
    <div class="form-group">
        <div class="row">
            <div class="col">
                {{ form_row(form.dateSalaire) }}
            </div>
            <div class="col">
                {{ form_row(form.periode) }}
            </div>
            <div class="col">
                {{ form_row(form.mBrutTotal) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.mImpotTotal) }}
            </div>
            <div class="col">
                {{ form_row(form.mSecuriteSocialSalarie) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.mTaxeTotal) }}
            </div>
            <div class="col">
                {{ form_row(form.mSecuriteSocialPatronal) }}
            </div>
        </div>

    </div>

    <div class="table-responsive">
        <table id="collections-contener" class="collection-tags table"
               data-prototype="
{{ '<td class="padding-0">'|e }}{{ form_widget(form.ligneSalaires.vars.prototype.collaborateur)|e }}
{{ '</td><td class="padding-0">'|e }}{{ form_widget(form.ligneSalaires.vars.prototype.mSalaireBase)|e }}
{{ '</td><td class="padding-0">'|e }}{{ form_widget(form.ligneSalaires.vars.prototype.mIndemLogement)|e }}
{{ '</td><td class="padding-0">'|e }}{{ form_widget(form.ligneSalaires.vars.prototype.mIndemTransport)|e }}
{{ '</td><td class="padding-0">'|e }}{{ form_widget(form.ligneSalaires.vars.prototype.mIndemFonction)|e }}
{{ '</td><td class="padding-0">'|e }}{{ form_widget(form.ligneSalaires.vars.prototype.mIndemAutres)|e }}
{{ '</td><td class="padding-0">'|e }}{{ form_widget(form.ligneSalaires.vars.prototype.mHeureSup)|e }}
{{ '</td><td class="padding-0">'|e }}{{ form_widget(form.ligneSalaires.vars.prototype.mSecuriteSocialeSalarie)|e }}
{{ '</td><td class="padding-0">'|e }}{{ form_widget(form.ligneSalaires.vars.prototype.mSecuriteSocialePatronal)|e }}
{{ '</td><td class="padding-0">'|e }}{{ form_widget(form.ligneSalaires.vars.prototype.mImpotSalarie)|e }}
{{ '</td><td class="padding-0">'|e }}{{ form_widget(form.ligneSalaires.vars.prototype.mTaxePatronale)|e }}
{{ '</td>'|e }}"
               data-widget-tags="{{ '<tr class="collection-tag"></tr>'|e }}"  data-list="#collections-contener" onchange="">

            <thead>
            {#<tr> <th>TOTAL DE RECETTES : </th> <td class="text-bold padding-5 text-center" > {{ form_widget(form.mRecette) }}</td>
                <th>TOTAL DE DEPENSES : </th> <td class="text-bold padding-5 text-center" > {{ form_widget(form.mDepense) }}</td>

            </tr>#}
            <tr>
                <th class="text-bold padding-5 text-center" >Collaborateurs </th>
                <th class="text-bold padding-5 text-center" >Salaire Base</th>
                <th class="text-bold padding-5 text-center">Logement</th>
                <th class="text-bold padding-5 text-center">Transport</th>
                <th class="text-bold padding-5 text-center">Fonction</th>
                <th class="text-bold padding-5 text-center">Autres indemnités</th>
                <th class="text-bold padding-5 text-center">Heures sup</th>
                <th class="text-bold padding-5 text-center" colspan="2">CNSS EMPLOYE/PATRONEL</th>
                <th class="text-bold padding-5 text-center">IUTS</th>
                <th class="text-bold padding-5 text-center">TPA</th>

            </tr>
            </thead>

            {% for ligneSalaire in form.ligneSalaires %}
                <tr class="collection-tag ">
                    <td class="padding-0">{{ form_errors(ligneSalaire.collaborateur) }} {{ form_widget(ligneSalaire.collaborateur) }}</td>
                    <td class="padding-0">{{ form_errors(ligneSalaire.mSalaireBase) }} {{ form_widget(ligneSalaire.mSalaireBase) }}</td>
                    <td class="padding-0">{{ form_errors(ligneSalaire.mIndemLogement) }} {{ form_widget(ligneSalaire.mIndemLogement) }}</td>
                    <td class="padding-0">{{ form_errors(ligneSalaire.mIndemTransport) }} {{ form_widget(ligneSalaire.mIndemTransport) }}</td>
                    <td class="padding-0">{{ form_errors(ligneSalaire.mIndemFonction) }} {{ form_widget(ligneSalaire.mIndemFonction) }}</td>
                    <td class="padding-0">{{ form_errors(ligneSalaire.mIndemAutres) }} {{ form_widget(ligneSalaire.mIndemAutres) }}</td>
                    <td class="padding-0">{{ form_errors(ligneSalaire.mHeureSup) }} {{ form_widget(ligneSalaire.mHeureSup) }}</td>
                    <td class="padding-0">{{ form_errors(ligneSalaire.mSecuriteSocialeSalarie) }} {{ form_widget(ligneSalaire.mSecuriteSocialeSalarie) }}</td>
                    <td class="padding-0">{{ form_errors(ligneSalaire.mSecuriteSocialePatronal) }} {{ form_widget(ligneSalaire.mSecuriteSocialePatronal) }}</td>
                    <td class="padding-0">{{ form_errors(ligneSalaire.mImpotSalarie) }} {{ form_widget(ligneSalaire.mImpotSalarie) }}</td>
                    <td class="padding-0">{{ form_errors(ligneSalaire.mTaxePatronale) }} {{ form_widget(ligneSalaire.mTaxePatronale) }}</td>

                </tr>
            {% endfor %}


        </table>
        {#<button type="button" id="add-another-collection-widget" class="add-another-collection-widget" data-list="#transfert-fields-list">Ajouter</button>#}
            {{ include('salaires/_btn_valider.html.twig') }}
        {{ form_end(form) }} {#, {'render_rest': false}#}

    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{   asset('js/collections.js') }}"></script>

{% endblock %}