{% extends 'base.html.twig' %}

{% block title %}Salaires{% endblock %}

{% block body %}
    <h1>Salaires</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ salaire.id }}</td>
            </tr>
            <tr>
                <th>PeriodeSalaire</th>
                <td>{{ salaire.periodeSalaire ? salaire.periodeSalaire|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>MNetTotal</th>
                <td>{{ salaire.mNetTotal }}</td>
            </tr>
            <tr>
                <th>MTaxeTotal</th>
                <td>{{ salaire.mTaxeTotal }}</td>
            </tr>
            <tr>
                <th>MImpotTotal</th>
                <td>{{ salaire.mImpotTotal }}</td>
            </tr>
            <tr>
                <th>MSecuriteSocialTotal</th>
                <td>{{ salaire.mSecuriteSocialTotal }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('salaires_index') }}">back to list</a>

    <a href="{{ path('salaires_edit', {'id': salaire.id}) }}">edit</a>

    {{ include('salaires/_delete_form.html.twig') }}
{% endblock %}
