{% extends 'base.html.twig' %}

{% block title %}Salaires{% endblock %}

{% block body %}
    <h1>Détails salaire | <a href="{{ path('salaires_index') }}">Listing</a></h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ salaire.id }}</td>
            </tr>
            <tr>
                <th>Periode</th>
                <td>{{ salaire.periodeSalaire }}</td>
            </tr>
            <tr>
                <th>Brut Total</th>
                <td>{{ salaire.mBrutTotal|number_format(0, '.', ' ') }}</td>
            </tr>
            <tr>
                <th>Securité sociale patronale</th>
                <td>{{ salaire.mSecuriteSocialPatronal|number_format(0, '.', ' ') }}</td>
            </tr>
            <tr>
                <th>Securité sociale salarié</th>
                <td>{{ salaire.mSecuriteSocialSalarie|number_format(0, '.', ' ') }}</td>
            </tr>
            <tr>
                <th>Taxes patronales</th>
                <td>{{ salaire.mTaxeTotal|number_format(0, '.', ' ') }}</td>
            </tr>
            <tr>
                <th>Impôts salarié</th>
                <td>{{ salaire.mImpotTotal|number_format(0, '.', ' ') }}</td>
            </tr>
            <tr>
                <th>Coût total</th>
                <td>{{salaire.coutTotal|number_format(0, '.', ' ') }}</td>
            </tr>
            <tr>
                <th>Net total</th>
                <td>{{salaire.netTotal|number_format(0, '.', ' ') }}</td>
            </tr>
        </tbody>
    </table>
   {% if salaire.statut !='C' %}
        <a href="{{ path('salaires_edit', {'id': salaire.id}) }}">Modifier</a> |
        {{ include('salaires/_delete_form.html.twig') }}
    {% endif %}

    <h1> Details lignes salaires </h1>
    {{ include('ligne_salaires/_liste.html.twig') }}

{% endblock %}
