{% extends 'base.html.twig' %}

{% block title %}DepotRetraits{% endblock %}

{% block body %}
    <h1>DepotRetraits</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ depot_retrait.id }}</td>
            </tr>
            <tr>
                <th>DateOperation</th>
                <td>{{ depot_retrait.dateOperation ? depot_retrait.dateOperation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ depot_retrait.libelle }}</td>
            </tr>
            <tr>
                <th>MDepot</th>
                <td>{{ depot_retrait.mDepot }}</td>
            </tr>
            <tr>
                <th>MRetrait</th>
                <td>{{ depot_retrait.mRetrait }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ depot_retrait.statut }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('depot_retraits_index') }}">back to list</a>

    <a href="{{ path('depot_retraits_edit', {'id': depot_retrait.id}) }}">edit</a>

    {{ include('depot_retraits/_delete_form.html.twig') }}
{% endblock %}
