{% extends 'base.html.twig' %}

{% block title %}LigneSalaires{% endblock %}

{% block body %}
    <h1>LigneSalaires</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ligne_salaire.id }}</td>
            </tr>
            <tr>
                <th>MSalaireBase</th>
                <td>{{ ligne_salaire.mSalaireBase }}</td>
            </tr>
            <tr>
                <th>MIndemLogement</th>
                <td>{{ ligne_salaire.mIndemLogement }}</td>
            </tr>
            <tr>
                <th>MIndemTransport</th>
                <td>{{ ligne_salaire.mIndemTransport }}</td>
            </tr>
            <tr>
                <th>MIndemFonction</th>
                <td>{{ ligne_salaire.mIndemFonction }}</td>
            </tr>
            <tr>
                <th>MIndemAutres</th>
                <td>{{ ligne_salaire.mIndemAutres }}</td>
            </tr>
            <tr>
                <th>MSecuriteSocialeSalarie</th>
                <td>{{ ligne_salaire.mSecuriteSocialeSalarie }}</td>
            </tr>
            <tr>
                <th>MSecuriteSocialePatronale</th>
                <td>{{ ligne_salaire.mSecuriteSocialePatronale }}</td>
            </tr>
            <tr>
                <th>MImpotSalarie</th>
                <td>{{ ligne_salaire.mImpotSalarie }}</td>
            </tr>
            <tr>
                <th>MTaxePatronale</th>
                <td>{{ ligne_salaire.mTaxePatronale }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ligne_salaires_index') }}">back to list</a>

    <a href="{{ path('ligne_salaires_edit', {'id': ligne_salaire.id}) }}">edit</a>

    {{ include('ligne_salaires/_delete_form.html.twig') }}
{% endblock %}
