<form class="form-inline" method="POST" action="{{ path('' ~ path,{'id':journeeCaisse.id})}}" >
    <input type="hidden" name="_method" value="UPDATE">
    <input type="hidden" name="_operation" value="{{ operation }}">
    <input type="hidden" name="_token" value="{{ csrf_token('action' ~ journeeCaisse.id)}}">
    <input type="hidden" name="_journeeCaisse" value="{{ journeeCaisse.id }}">
    <button class="btn-primary btn" name={{ btn_name }}>{{ btn_label }}</button>
</form>