<form class="form-inline" method="POST" action="{{ path('' ~ path,{'id':journeeCaisse.id})}}" onsubmit="return confirm('Voulez vous ouvrir la caisse selectionée ?');" >
    <input type="hidden" name="_method" value="UPDATE">
    <input type="hidden" name="_operation" value="{{ operation }}">
    <input type="hidden" name="_token" value="{{ csrf_token('action' ~ journeeCaisse.id)}}">
    <input type="hidden" name="_journeeCaisse" value="{{ journeeCaisse.id }}">
    <div class="form-inline">{{ form_label(form.caisse) }}{{ form_widget(form.caisse) }}</div>
    <button class="btn-primary btn" name={{ btn_name }}>{{ btn_label }}</button>
</form>