<form class="form-inline" method="POST" action="{{ (journeeCaisse.statut != 'X')?path('' ~ path):path('' ~ path,{'id':id|default(journeeCaisse.id)})}}" >
    <input type="hidden" name="_method" value="POST">
    {#<input type="hidden" name="_operation" value="{{ operation }}">
    #}<input type="hidden" name="_token" value="{{ csrf_token('action' ~ journeeCaisse.id)}}">
    {#  <input type="hidden" name="_journeeCaisse" value="{{ journeeCaisse.id }}">
    #} <button class="{{ btn_class|default('btn-info') }}"  name={{ btn_name }}>{{ btn_label }}</button>
</form>