<tr>
    <td class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >LIQUIDITE : </td>
    {#<td class="padding-5 text-right" colspan="2">{{ journeeCaisse.mLiquiditeOuv|number_format(0, '.', ' ')  }}</td>
    #}<td class="padding-5 text-right" colspan="2" bgcolor="{{ bgcolor }}"><a href="{{ path('billetages_show', {'dt':journeeCaisse.detailLiquiditeOuv })}}"><span class="glyphicon glyphicon-eye-open"></span>{{ journeeCaisse.mLiquiditeOuv|number_format(0, '.', ' ')  }}</a></td>
    <td class="padding-5 text-right" colspan="2" bgcolor="{{ bgcolor }}"><a href="{{ path('billetages_show', {'dt':journeeCaisse.detailLiquiditeFerm }) }}">
        {{ journeeCaisse.mLiquiditeFerm|number_format(0, '.', ' ') }}</a>
    </td>
    <td class="padding-0"  bgcolor="{{ bgcolor }}">
        {% if  journeeNonFerme %}
            {{ include('journee_caisses/_btn_action_billetage.html.twig',{'id':journeeCaisse.id, 'dt':journeeCaisse.detailLiquiditeFerm, 'operation':'liquiditeFerm', 'devise':0,'btn_name':'Billetage', 'btn_label':'Billetage'}) }}
        {% else %}
            <a href="{{ path('billetages_show', {'dt':journeeCaisse.detailLiquiditeFerm}) }}"><span class="glyphicon glyphicon-eye-open"></span> Voir détails </a>
        {% endif %}
    </td>
</tr>
<tr>
    <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >ELECTRONIQUE : </td>
    <td class="padding-5 text-right" colspan="2" bgcolor="{{ bgcolor }}"><a href="{{ path('system_elect_inventaires_show', {'id': journeeCaisse.id, 'operation':'OUV'}) }}"><span class="glyphicon glyphicon-eye-open"></span> {{ journeeCaisse.mSoldeElectOuv|number_format(0, '.', ' ')  }}</a></td>
    <td class="padding-5 text-right" colspan="2" bgcolor="{{ bgcolor }}">{{ journeeCaisse.mSoldeElectFerm|number_format(0, '.', ' ')  }}</td>
    <td class="padding-0"  bgcolor="{{ bgcolor }}">
     {% if  journeeNonFerme %}
        {{ include('journee_caisses/_btn_action_elect.html.twig',{'id':journeeCaisse.id, 'operation':'FERMER', 'btn_name':'Solde', 'btn_label':'Soldes electroniques'}) }}
    {% else %}
        <a href="{{ path('system_elect_inventaires_show', {'id': journeeCaisse.id, 'operation':'FERMER'}) }}"><span class="glyphicon glyphicon-eye-open"></span> Voir détails </a>
    {% endif %}
    </td>
</tr>
{% if (journeeCaisse.statut!= 'I') %}
<tr>
    <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >DETTES DIVERSES : </td>
    <td class="padding-5 text-right" colspan="2" bgcolor="{{ bgcolor }}"><a href="{{ (journeeCaisse.journeePrecedente)?path('dette_credit_divers_show', {'id': journeeCaisse.journeePrecedente.id}):0 }}"><span class="glyphicon glyphicon-eye-open"></span>{{ journeeCaisse.mDetteDiversOuv|number_format(0, '.', ' ')  }}</a></td>
    <td class="padding-5 text-right" colspan="2" bgcolor="{{ bgcolor }}">{{ journeeCaisse.mDetteDiversFerm|number_format(0, '.', ' ')  }}</td>
    <td class="padding-0" rowspan="2"  bgcolor="{{ bgcolor }}">
        {% if  journeeNonFerme %}
        {{ include('journee_caisses/_btn_action_url.html.twig',{'path':'detteCredits_divers','btn_name':'midifier', 'btn_label':'Dettes et Credits'})}}
        {% else %}
            <a href="{{ path('dette_credit_divers_show', {'id': journeeCaisse.id}) }}"><span class="glyphicon glyphicon-eye-open"></span> Voir détails </a>
        {% endif %}
    </td>
</tr>
<tr>
    <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >CREDITS DIVERS : </td>
    <td class="padding-5 text-right" colspan="2" bgcolor="{{ bgcolor }}"><a href="{{ (journeeCaisse.journeePrecedente)?path('dette_credit_divers_show', {'id': journeeCaisse.journeePrecedente.id}):0 }}"><span class="glyphicon glyphicon-eye-open"></span>{{ journeeCaisse.mCreditDiversOuv|number_format(0, '.', ' ')  }}</a></td>
    <td class="padding-5 text-right" colspan="2" bgcolor="{{ bgcolor }}">{{ journeeCaisse.mCreditDiversFerm|number_format(0, '.', ' ')  }}</td>
</tr>
<tr>
    <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >INTERCAISSE : </td>
    <td class="padding-5 text-right" colspan="2" bgcolor="{{ bgcolor }}">-</td>
    <td class="padding-5 text-right" colspan="2" bgcolor="{{ bgcolor }}">{{ journeeCaisse.mIntercaisses|number_format(0, '.', ' ')  }}</td>
    <td class="padding-0"  bgcolor="{{ bgcolor }}">
        {% if journeeNonFerme %}
            {{ include('journee_caisses/_btn_action_url.html.twig',{'path':'intercaisses_ajout' , 'btn_name':'midifier', 'btn_label':'Intercaisse'})}}
        {% else %}
            <a href="{{ path('inter_caisses_show', {'id': journeeCaisse.id}) }}"><span class="glyphicon glyphicon-eye-open"></span> Voir détails </a>
        {% endif %}
    </td>
</tr>
<tr>
    <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >APPROS - VERSEMENTS : </td>
    <td class="padding-5 text-right" colspan="2" bgcolor="{{ bgcolor }}">-</td>
    <td class="padding-5 text-right" colspan="2" bgcolor="{{ bgcolor }}">{{ (journeeCaisse.mApproVersementEntrant-journeeCaisse.mApproVersementSortant)|number_format(0, '.', ' ')  }}</td>
    <td class="padding-0"  bgcolor="{{ bgcolor }}">
        {% if  journeeNonFerme %}
            {{ include('journee_caisses/_btn_action_url.html.twig',{'path':'appro_versements_ajout' , 'btn_name':'modifier', 'btn_label':'Appro/Versement'})}}
        {% else %}
            <a href="{{ path('appro_versements_journee_show', {'id': journeeCaisse.id}) }}"><span class="glyphicon glyphicon-eye-open"></span> Voir détails </a>
        {% endif %}
    </td>
</tr>
<tr>
    <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >RECETTES - DEPENSES COMPTANT : </td>
    <td class="padding-5 text-right" colspan="2" bgcolor="{{ bgcolor }}">-</td>
    <td class="padding-5 text-right" colspan="2" bgcolor="{{ bgcolor }}">{{ (journeeCaisse.mRecette-journeeCaisse.mDepense)|number_format(0, '.', ' ')  }}</td>
    <td class="padding-0"  bgcolor="{{ bgcolor }}">
        {% if  journeeNonFerme %}
            {{ include('journee_caisses/_btn_action_url.html.twig',{'path':'recette_depenses_comptant' , 'btn_name':'modifier', 'btn_label':'Recettes/Depenses'})}}
        {% else %}
            <a href="{{ path('journee_caisses_recetteDepenses', {'id': journeeCaisse.id}) }}"><span class="glyphicon glyphicon-eye-open"></span> Voir détails </a>
        {% endif %}
    </td>
</tr>
{% endif %}
