<tr>
    <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >RECETTES AU COMPTANT</td>
    <td class="padding-5 text-right" colspan="2" bgcolor="{{ bgcolor }}">-</td>
    <td class="padding-5 text-right" colspan="2" bgcolor="{{ bgcolor }}">{{ journeeCaisse.mRecette|number_format(0, '.', ' ')  }}</td>
    <td class="padding-0" rowspan="2" bgcolor="{{ bgcolor }}">
        {% if  journeeCaisse.statut== 'E'%}
        {{ include('journee_caisses/_btn_action_url.html.twig',{'path':'recette_depenses_comptant_groupee' ,'btn_name':'saisieRecetteDepense', 'btn_label':'Recettes et Depenses au comptant'}) }}</td>
        {% else %}
            <a href="{{ path('recette_depenses_details', {'id': journeeCaisse.id}) }}"><span class="glyphicon glyphicon-eye-open"></span> Voir détails </a>
        {% endif %}
</tr>
<tr>
    <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >DEPENSES AU COMPTANT </td>
    <td class="padding-5 text-right" colspan="2" bgcolor="{{ bgcolor }}">-</td>
    <td class="padding-5 text-right" colspan="2" bgcolor="{{ bgcolor }}">{{ journeeCaisse.mDepense|number_format(0, '.', ' ')  }}</td>

</tr>
