<tr>
    <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >ENCAISSEMENT</td>
    <td class="padding-5 text-right" colspan="2" bgcolor="{{ bgcolor }}">-</td>
    <td class="padding-5 text-right" colspan="2" bgcolor="{{ bgcolor }}">-</td>
    <td class="padding-0"  bgcolor="{{ bgcolor }}">-</td>
</tr>
<tr>
    <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >DECAISSEEMENT</td>
    <td class="padding-5 text-right" colspan="2" bgcolor="{{ bgcolor }}">-</td>
    <td class="padding-5 text-right" colspan="2" bgcolor="{{ bgcolor }}">-</td>
    <td class="padding-0"  bgcolor="{{ bgcolor }}">-</td>
</tr>
