{% extends 'base.html.twig' %}

{% block title %}etat caisse{% endblock %}

{% block body %}
    <div class="form-inline">
        <form method="post" action="{{ path('journee_caisses_etat_de_caisse') }}">
        {#{{ form(form) }}
        {{ form_start(form) }}
#}
        Caisse : {{ form_widget(form.caisse) }}
        Du : <input type="date" id="form_dateDeb" name="dateDeb"  class="form-control" value="">
        Au : <input type="date" id="form_dateFin" name="dateFin"  class="form-control" value="">
        <button class="btn-primary btn" name="modifier" > Changer</button>

        </form>
        {{ include('journee_caisses/_btn_return_gerer.html.twig') }}
        {#{{ form_end(form) }}<div >{{ form_rest(form) }}</div>
                        {{ include('journee_caisses/_btn_action_url_etat.html.twig',{'path':'journee_caisses_etat_de_caisse' , 'operation':'ETAT','btn_name':'midifier', 'btn_label':'Chancer'}) }}
                                #}
    </div>
    <div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        {% if journee_caisses %}
        <tr>
            <th colspan="9">FICHE ARRET CAISSE : {{ journee_caisses[0].caisse }}</th>
        </tr>
        {% else %}
        <tr>
            <th colspan="9">REVOIR LES CRITERES DE SELECTION</th>
        </tr>
        {% endif %}
            <tr>
                <th>DATES</th>
                <th>NET OUVERTURE</th>
                <th>COMPENSES</th>
                <th>CREDITS | DETTES</th>
                <th>MOUVEMENTS</th>
                <th>DEPENSES | RECETTES</th>
                <th>DISPONIBILITE</th>
                <th>NET FERMETURE</th>
                <th>ECARTS Ouv|Ferm</th>
            </tr>
        </thead>
        <tbody>
        {% for journee_caiss in journee_caisses %}
            <tr>
                <td>{{ journee_caiss.dateOuv ? journee_caiss.dateOuv|date('Y-m-d H:i:s') : '' }} | {{ journee_caiss.dateFerm ? journee_caiss.dateFerm|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ journee_caiss.soldeNetOuv|number_format(0, '.', ' ') }}</td>
                <td>{{ journee_caiss.compense|number_format(0, '.', ' ') }}</td>
                <td>{{ journee_caiss.mCreditDiversFerm|number_format(0, '.', ' ') }} |
                    {{ journee_caiss.mDetteDiversFerm|number_format(0, '.', ' ') }}</td>
                <td>{{ journee_caiss.mouvementFond|number_format(0, '.', ' ') }}</td>
                <td>0</td>
                <td>{{ journee_caiss.disponibiliteFerm|number_format(0, '.', ' ') }}</td>
                <td>{{ journee_caiss.soldeNetFerm|number_format(0, '.', ' ') }}</td>
                <td>{{ journee_caiss.mEcartOuv|number_format(0, '.', ' ') }}|{{ journee_caiss.mEcartFerm|number_format(0, '.', ' ') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="19">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div hidden>{{ form_rest(form) }}</div>
{% endblock %}