{% extends 'base.html.twig' %}

{% block title %}etat caisse{% endblock %}

{% block body %}
    <div class="form-inline">
        <form method="post" action="{{ path('journee_caisses_etat_de_caisse') }}">
        {#{{ form(form) }}
        {{ form_start(form) }}

        Caisse : {{ form_widget(form.caisse) }}#}
        Du : <input type="date" id="form_dateDeb" name="dateDeb"  class="form-control" value="">
        Au : <input type="date" id="form_dateFin" name="dateFin"  class="form-control" value="">
        {#<button class="btn-primary btn" name="modifier" > Changer</button>
            #}
        </form>
        {{ include('journee_caisses/_btn_return_gerer.html.twig') }}
        {#{{ form_end(form) }}<div >{{ form_rest(form) }}</div>
                        {{ include('journee_caisses/_btn_action_url_etat.html.twig',{'path':'journee_caisses_etat_de_caisse' , 'operation':'ETAT','btn_name':'midifier', 'btn_label':'Chancer'}) }}
                                #}
    </div>
    <div class="table-responsive">
    <table class="table table-bordered datatable-basic">
        <thead>
        {% if caisse %}
        <tr>
            <td  class="text-bold padding-5 text-center" colspan="9">FICHE ARRET CAISSE : {{ caisse }}</td>
        </tr>
        {% endif %}
            <tr>
                <th>DATES</th>
                <th>CAISSIER</th>
                <th>NET OUVERTURE</th>
                <th>COMPENSES</th>
                <th>DISPONIBILITE</th>
                <th>NET FERMETURE</th>
                <th colspan="2">ECARTS Ouv|Ferm</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody>
        {% for journee_caiss in journee_caisses %}
            <tr>
                <td>{{ journee_caiss.dateOuv ? journee_caiss.dateOuv|date('d-H:i') : '' }} | {{ journee_caiss.dateFerm ? journee_caiss.dateFerm|date('d-H:i') : '' }}</td>
                <td>{{ journee_caiss.utilisateur }}</td>
                <td class="text-right">{{ journee_caiss.soldeNetOuv|number_format(0, '.', ' ') }}</td>
                <td class="text-right">{{ journee_caiss.compense|number_format(0, '.', ' ') }}</td>
                <td class="text-right">{{ journee_caiss.disponibiliteFerm|number_format(0, '.', ' ') }}</td>
                <td class="text-right">{{ journee_caiss.soldeNetFerm|number_format(0, '.', ' ') }}</td>
                <td class="text-right">{{ journee_caiss.mEcartOuv|number_format(0, '.', ' ') }}</td>
                <td class="text-right">{{ journee_caiss.mEcartFerm|number_format(0, '.', ' ') }}</td>
                <td><a href="{{ path('journee_caisse_show', {'id': journee_caiss.id}) }}"><span class="glyphicon glyphicon-eye-open"></span> Voir détails</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="19">Aucune journée trouvée ! ! !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}