{% extends 'base.html.twig' %}

{% block title %}etat caisse{% endblock %}

{% block body %}
    <div class="form-inline">
        <form method="post" action="{{ path('journee_caisses_etat_de_caisse') }}">
        {#{{ form(form) }}
        {{ form_start(form) }}
#}
        Caisse : {{ form_widget(form.caisse) }}
        Du : <input type="date" id="form_dateDeb" name="dateDeb"  class="form-control" value="">
        Au : <input type="date" id="form_dateFin" name="dateFin"  class="form-control" value="">
        <button class="btn-primary btn" name="modifier" > Changer</button>

        </form>
        {{ include('journee_caisses/_btn_return_gerer.html.twig') }}
        {#{{ form_end(form) }}<div >{{ form_rest(form) }}</div>
                        {{ include('journee_caisses/_btn_action_url_etat.html.twig',{'path':'journee_caisses_etat_de_caisse' , 'operation':'ETAT','btn_name':'midifier', 'btn_label':'Chancer'}) }}
                                #}
    </div>

    <table class="table">
        <thead>
        {% if journee_caisses %}
        <tr>
            <th colspan="14">FICHE ARRET CAISSE : {{ journee_caisses[0].caisse }}</th>
        </tr>
        {% else %}
        <tr>
            <th colspan="14">REVOIR LES CRITERES DE SELECTION</th>
        </tr>
        {% endif %}
            <tr>
                <th>Ouverture</th>
                <th>Net Ouverture</th>
                <th>MCvd</th>
                <th>Crédits</th>
                <th>Dettes</th>
                <th>Intercaisse</th>
                <th>Compense</th>
                <th>Retraits</th>
                <th>Dépots</th>
                <th>Fermeture</th>
                <th>Disponibilité</th>
                <th>Net Fermeture</th>
                <th>Ecart</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for journee_caiss in journee_caisses %}
            <tr>
                <td>{{ journee_caiss.dateOuv ? journee_caiss.dateOuv|date('Y-m-d H:i:s') : '' }}</td>
                <th>{{ journee_caiss.soldeNetOuv|number_format(0, '.', ' ') }}</th>
                <td>{{ journee_caiss.mCvd|number_format(0, '.', ' ') }}</td>
                <td>{{ journee_caiss.mCreditDiversFerm|number_format(0, '.', ' ') }}</td>
                <td>{{ journee_caiss.mDetteDiversFerm|number_format(0, '.', ' ') }}</td>
                <td>{{ journee_caiss.mIntercaisses|number_format(0, '.', ' ') }}</td>
                <td>{{ journee_caiss.mEmissionTrans|number_format(0, '.', ' ')  }}</td>
                <td>{{ journee_caiss.mRetraitClient|number_format(0, '.', ' ') }}</td>
                <td>{{ journee_caiss.mDepotClient }}</td>
                <td>{{ journee_caiss.dateFerm ? journee_caiss.dateFerm|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ journee_caiss.disponibiliteFerm|number_format(0, '.', ' ') }}</td>
                <th>{{ journee_caiss.soldeNetFerm|number_format(0, '.', ' ') }}</th>
                <td>{{ journee_caiss.mEcartFerm|number_format(0, '.', ' ') }}</td>
                <td>
                    <a href="{{ path('journee_caisses_show', {'id': journee_caiss.id}) }}">show</a>
                    <a href="{{ path('journee_caisses_edit', {'id': journee_caiss.id}) }}" hidden>edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="19">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div hidden>{{ form_rest(form) }}</div>
{% endblock %}