{% extends 'base.html.twig' %}

{% block title %}etat caisse{% endblock %}

{% block body %}
    {#<div class="row" style=" max-height:  100px;">#}
    <h1 class="text-center">ETAT CONSOLIDE DE TRESORERIE</h1>
        <div>

            <table id="tresorerie" class="table table-bordered datatable-basic dataTable">
                <tbody>
                <tr>
                    <th bgcolor="#a9a9a9">Date : </th>
                    <td>
                        <div class="form-inline">

                            <form method="get" action="{{ path('journee_caisses_tresorerie') }}">
                                Du : <input type="date" id="form_dateDeb" name="_dateDeb"  class="form-control"  value="{{ dateDeb.format('Y-m-d') }}" onfocus="if(this.value=='{{ dateDeb.format('Y-m-d') }}'){this.value=''}" onblur="if(this.value==''){this.value = '{{ dateDeb.format('Y-m-d') }}'}">
                                Au : <input type="date" id="form_dateFin" name="_dateFin"  class="form-control" value="{{ dateFin.format('Y-m-d')}}" onfocus="if(this.value=='{{ dateFin.format('Y-m-d') }}'){this.value=''}" onblur="if(this.value==''){this.value = '{{ dateFin.format('Y-m-d') }}'}">
                                <button class="btn-primary btn" name="modifier" > Changer</button>

                            </form>
                        </div>
                        {#<td>Du : {{ dateDeb|date('Y-m-d') }} Au : {{ dateFin|date('Y-m-d') }}</td>
                      {#<div class="form-inline">
                                                    <form method="post" action="{{ path('journee_caisses_tresorerie') }}">
                                                        {{ include('journee_caisses/_btn_action_url_compense.html.twig',{'path':'journee_caisses_tresorerie' , 'operation':'ETAT','btn_name':'midifier', 'btn_label':'Changer'}) }}
                                                    </form>
                                                </div>#}
                    </td>
                </tr>
                {#<tr>
                    <th>Caisse : </th>
                    <td>{{ journee_caisses_recap.caisse }}</td>
                </tr>#}
                <tr>
                    <th bgcolor="#a9a9a9">Ouverture : </th>
                    <td colspan="2"><a href="{{ path('detail_ouverture_tresorerie',{'_champ':'ouverture', '_etat':'ouv', '_dateDeb':dateDeb|date('Y/m/d'), '_dateFin':dateFin|date('Y/m/d')}) }}"> {{(treso_ouv)?treso_ouv.Ouverture|number_format(0,',', ' '):'0' }}</a>
                    </td>
                </tr>
                <tr>
                    <th bgcolor="#a9a9a9"> Compensation : </th>
                    <td colspan="2"><a href="{{ path('detail_ouverture_tresorerie',{'_champ':'compense','_etat':'crd', '_dateDeb':dateDeb|date('Y/m/d'), '_dateFin':dateFin|date('Y/m/d')}) }}">{{ (treso_recap)?treso_recap.compense|number_format(0,',', ' '):'0' }}</a>
                    </td>
                </tr>
                <tr>
                    <th bgcolor="#a9a9a9">Appro : </th>
                    <td colspan="2"><a href="{{ path('detail_ouverture_tresorerie',{'_champ':'appro','_etat':'appro', '_dateDeb':dateDeb|date('Y/m/d'), '_dateFin':dateFin|date('Y/m/d')}) }}">{{ (treso_appro)?treso_appro.appro|number_format(0,',', ' '):'0' }}</a></td>
                </tr>
                <tr>
                    <th bgcolor="#a9a9a9">Dettes : </th>
                    <td colspan="2"><a href="{{ path('detail_ouverture_tresorerie',{'_champ':'dette','_etat':'ferm', '_dateDeb':dateDeb|date('Y/m/d'), '_dateFin':dateFin|date('Y/m/d')}) }}">{{ (treso_ferm)?treso_ferm.dette|number_format(0,',', ' '):'0' }}</a></td>
                </tr>
                <tr>
                    <th bgcolor="#a9a9a9">Credits : </th>
                    <td colspan="2"><a href="{{ path('detail_ouverture_tresorerie',{'_champ':'credit','_etat':'ferm', '_dateDeb':dateDeb|date('Y/m/d'), '_dateFin':dateFin|date('Y/m/d')}) }}">{{ (treso_ferm)?treso_ferm.credit|number_format(0,',', ' '):'?' }}</a></td>
                </tr>
                <tr>
                    <th bgcolor="#a9a9a9">Recettes : </th>
                    <td colspan="2"><a href="{{ path('detail_ouverture_tresorerie',{'_champ':'recette','_etat':'crd', '_dateDeb':dateDeb|date('Y/m/d'), '_dateFin':dateFin|date('Y/m/d')}) }}">{{ (treso_recap)?treso_recap.recette:'0' }}</a>
                    </td>
                </tr>
                <tr>
                    <th bgcolor="#a9a9a9">Depenses : </th>
                    <td colspan="2"><a href="{{ path('detail_ouverture_tresorerie',{'_champ':'depense','_etat':'crd', '_dateDeb':dateDeb|date('Y/m/d'), '_dateFin':dateFin|date('Y/m/d')}) }}">{{ (treso_recap)?treso_recap.depense|number_format(0,',', ' '):'0' }}</a>
                    </td>
                </tr>
                <tr>
                    <th bgcolor="#a9a9a9">Disponibilite : </th>
                    <td colspan="2"><a href="{{ path('detail_ouverture_tresorerie',{'_champ':'dispo','_etat':'ferm', '_dateDeb':dateDeb|date('Y/m/d'), '_dateFin':dateFin|date('Y/m/d')}) }}">{{ (treso_ferm)?treso_ferm.dispo|number_format(0,',', ' '):'0' }}</a></td>
                </tr>
                <tr>
                    <th bgcolor="#a9a9a9">Fermeture : </th>
                    <td colspan="2"><a href="{{ path('detail_ouverture_tresorerie',{'_champ':'fermeture','_etat':'ferm', '_dateDeb':dateDeb|date('Y/m/d'), '_dateFin':dateFin|date('Y/m/d')}) }}"> {{ (treso_ferm)?treso_ferm.fermeture|number_format(0,',', ' '):'0' }}</a></td>
                </tr>
                <tr>
                    <th bgcolor="#a9a9a9">ECARTS CAISSE : </th>
                    <td colspan="2"><a href="{{ path('detail_ouverture_tresorerie',{'_champ':'ecart','_etat':'crd', '_dateDeb':dateDeb|date('Y/m/d'), '_dateFin':dateFin|date('Y/m/d')}) }}">{{ (treso_recap)?treso_recap.ecart|number_format(0,',', ' '):'0' }}</a></td>
                </tr>
                </tbody>
            </table>
            <table class="table">
                <thead>
                <tr><th>Devise</th><th>Solde Ouverture</th><th>Ecart Ouverture</th><th>Achat</th><th>Vente</th><th>Solde</th><th>CVD</th></tr>
                </thead>
                <tbody>
                {% for devise in treso_devise %}
                <tr><td> {{ devise.devise }}</td><td><a href="{{ path('devise_journees_ouv',{'id':devise.id, '_dateDeb':dateDeb|date('Y/m/d'), '_dateFin':dateFin|date('Y/m/d')}) }}">{{ devise.qteOuv|number_format(0,',', ' ') }}</a></td>
                    <td> {{ devise.ecartOuv|number_format(0,',', ' ') }}</td>
                    <td><a href="{{ path('devise_journees_achat_vente',{'id':devise.id, '_dateDeb':dateDeb|date('Y/m/d'), '_dateFin':dateFin|date('Y/m/d')}) }}"> {{ devise.achat|number_format(0,',', ' ') }}</a></td>
                    <td><a href="{{ path('devise_journees_achat_vente',{'id':devise.id, '_dateDeb':dateDeb|date('Y/m/d'), '_dateFin':dateFin|date('Y/m/d')}) }}">  {{ devise.vente|number_format(0,',', ' ') }}</a></td>
                    <td><a href="{{ path('devise_journees_ferm',{'id':devise.id, '_dateDeb':dateDeb|date('Y/m/d'), '_dateFin':dateFin|date('Y/m/d')}) }}"> {{ devise.stock|number_format(0,',', ' ') }}</a></td>
                    <td><a href="{{ path('devise_journees_cvd',{'id':devise.id, '_dateDeb':dateDeb|date('Y/m/d'), '_dateFin':dateFin|date('Y/m/d')}) }}">  {{ devise.cvd|number_format(0,',', ' ') }}</a></td></tr>
                {% endfor %}
                </tbody>
            </table>
            {#<a href="#" onclick="$('#tresorerie').tableExport({type:'excel',escape:'false'});"><img src="img/icons/xls.png" width="24"> XLS</a>
            #}
        </div >
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/tableExport.js') }}"></script>
    <script src="{{ asset('js/jspdf.js') }}"></script>
    <script src="{{ asset('js/sprintf.js') }}"></script>
    <script src="{{ asset('js/base64.js') }}"></script>
{% endblock %}