{% extends 'base.html.twig' %}
{% block title %}Gestion de Journee{% endblock %}
{% block body %}
    {% set color=(journeeCaisse.statut=='X')?"#eee9e6":"#FFF" %}
    <div class="form-inline text-bold text-center"><h1>OPERATION COURANTE CAISSE : {{ journeeCaisse.caisse }} DU {{ journeeCaisse.dateOuv|date('d-m-Y') }}<a href="{{ path('journee_caisses_etat_de_caisse') }}" class="glyphicon glyphicon-list-alt float-right">Journées Caisses</a></h1>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >RUBRIQUE</th>
                    {#<th class="text-bold padding-5 text-right" colspan="2" bgcolor="#a9a9a9" >FERMETURE PRECEDENTE</th>
                    #}<th class="text-bold padding-5 text-right" colspan="2" bgcolor="#a9a9a9" >SOLDE OUVERTURE</th>
                    <th class="text-bold padding-5 text-right" colspan="2" bgcolor="#a9a9a9" >SOLDE FERMETURE</th>
                    <th bgcolor="#a9a9a9" >ACTIONS</th>
                </tr>
                </thead>
                <tbody class="text-thin">
                <tr>
                    <td class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >LIQUIDITE : </td>
                    {#<td class="padding-5 text-right" colspan="2">{{ journeeCaisse.mLiquiditeOuv|number_format(0, '.', ' ')  }}</td>
                    #}<td class="padding-5 text-right" colspan="2" bgcolor={{ color }}>{{ journeeCaisse.mLiquiditeOuv|number_format(0, '.', ' ')  }}</td>
                    <td class="padding-5 text-right" colspan="2" bgcolor={{ color }}>{{ journeeCaisse.mLiquiditeFerm|number_format(0, '.', ' ') }}</td>
                    <td class="padding-0" >{{ include('journee_caisses/_btn_action_billetage.html.twig',{'id':journeeCaisse.billetFerm.id, 'operation':'liquiditeFerm', 'devise':0,'btn_name':'Billetage', 'btn_label':'Billetage'}) }}</td>
                </tr>
                <tr>
                    <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >ELECTRONIQUE : </td>
                    <td class="padding-5 text-right" colspan="2" bgcolor={{ color }}>{{ journeeCaisse.mSoldeElectOuv|number_format(0, '.', ' ')  }}</td>
                    <td class="padding-5 text-right" colspan="2" bgcolor={{ color }}>{{ journeeCaisse.mSoldeElectFerm|number_format(0, '.', ' ')  }}</td>
                    <td class="padding-0" >{{ include('journee_caisses/_btn_action_elect.html.twig',{'id':journeeCaisse.systemElectInventFerm.id, 'operation':'FERMER', 'btn_name':'Solde', 'btn_label':'Soldes electroniques'}) }}</td>
                </tr>
                <tr>
                    <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >DETTES DIVERSES : </td>
                    <td class="padding-5 text-right" colspan="2" bgcolor={{ color }}>{{ journeeCaisse.mDetteDiversOuv|number_format(0, '.', ' ')  }}</td>
                    <td class="padding-5 text-right" colspan="2" bgcolor={{ color }}>{{ journeeCaisse.mDetteDiversFerm|number_format(0, '.', ' ')  }}</td>
                    <td class="padding-0" rowspan="2" >{{ (journeeCaisse.statut != 'X')?include('journee_caisses/_btn_action_url.html.twig',{'path':'detteCredits_divers','btn_name':'midifier', 'btn_label':'Dettes et Credits'})
                        :include('journee_caisses/_btn_action_url.html.twig',{'path':'dette_credit_divers_show','btn_name':'midifier', 'btn_label':'Dettes et Credits'})
                        }}</td>
                </tr>
                <tr>
                    <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >CREDITS DIVERS : </td>
                    <td class="padding-5 text-right" colspan="2" bgcolor={{ color }}>{{ journeeCaisse.mCreditDiversOuv|number_format(0, '.', ' ')  }}</td>
                    <td class="padding-5 text-right" colspan="2" bgcolor={{ color }}>{{ journeeCaisse.mCreditDiversFerm|number_format(0, '.', ' ')  }}</td>
                </tr>
                <tr>
                    <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >INTERCAISSE : </td>
                    <td class="padding-5 text-right" colspan="2" bgcolor={{ color }}>-</td>
                    <td class="padding-5 text-right" colspan="2" bgcolor={{ color }}>{{ journeeCaisse.mIntercaisses|number_format(0, '.', ' ')  }}</td>
                    <td class="padding-0" >{{ (journeeCaisse.statut != 'X')?include('journee_caisses/_btn_action_url.html.twig',{'path':'intercaisses_ajout' , 'btn_name':'midifier', 'btn_label':'Intercaisse'})
                        :include('journee_caisses/_btn_action_url.html.twig',{'path':'inter_caisses_show' , 'btn_name':'midifier', 'btn_label':'Intercaisse'})
                        }}</td>
                </tr>
                <tr>
                    {% if is_granted('ROLE_COMPTABLE') %}
                        <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >RECETTES AU COMPTANT</td>
                        <td class="padding-5 text-right" colspan="2" bgcolor={{ color }}>-</td>
                        <td class="padding-5 text-right" colspan="2" bgcolor={{ color }}>{{ journeeCaisse.mRecette|number_format(0, '.', ' ')  }}</td>
                        <td class="padding-0" rowspan="2">{{ include('journee_caisses/_btn_action_url.html.twig',{'path':'recette_depenses_saisie_groupee' ,'btn_name':'saisieRecetteDepense', 'btn_label':'Recettes et Depenses au comptant'}) }}</td>
                    {% else %}
                        <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >TRANSFERT EMIS : </td>
                        <td class="padding-5 text-right" colspan="2" bgcolor={{ color }}>-</td>
                        <td class="padding-5 text-right" colspan="2" bgcolor={{ color }}>{{ journeeCaisse.mEmissionTrans|number_format(0, '.', ' ')  }}</td>
                        <td class="padding-0" rowspan="2">{{ (journeeCaisse.statut !='X')?include('journee_caisses/_btn_action_url.html.twig',{'path':'transfert_internationaux_saisie' ,'btn_name':'midifier', 'btn_label':'Transferts Internationaux'})
                            : include('journee_caisses/_btn_action_url.html.twig',{'path':'transfert_internationaux_show','id':journeeCaisse.id,'btn_name':'midifier', 'btn_label':'Transferts Internationaux'})
                            }}</td>
                    {% endif %}

                </tr>
                <tr>
                    {% if is_granted('ROLE_COMPTABLE') %}
                        <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >DEPENSES AU COMPTANT </td>
                        <td class="padding-5 text-right" colspan="2" bgcolor={{ color }}>-</td>
                        <td class="padding-5 text-right" colspan="2" bgcolor={{ color }}>{{ journeeCaisse.mDepense|number_format(0, '.', ' ')  }}</td>
                    {% else %}
                        <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >TRANSFERT PAYE : </td>
                        <td class="padding-5 text-right" colspan="2" bgcolor={{ color }}>-</td>
                        <td class="padding-5 text-right" colspan="2" bgcolor={{ color }}>{{ journeeCaisse.mReceptionTrans|number_format(0, '.', ' ')  }}</td>
                    {% endif %}
                </tr>
                <tr>
                    {% if is_granted('ROLE_COMPTABLE') %}
                        {#<td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >SALAIRES</td>
                        <td class="padding-5 text-right" colspan="2" bgcolor={{ color }}>-</td>
                        <td class="padding-5 text-right" colspan="2" bgcolor={{ color }}>{{ journeeCaisse.mSalaire|number_format(0, '.', ' ')  }}</td>
                        <td class="padding-0" rowspan="2">{{ include('journee_caisses/_btn_action_url.html.twig',{'path':'recette_depenses_saisie_groupee' ,'btn_name':'saisieRecetteDepense', 'btn_label':'Recettes et Depenses au comptant'}) }}</td>
                        #}
                    {% else %}
                        <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >CONTRE VALEUR DEVISE : </td>
                        <td class="padding-5 text-right" colspan="2" bgcolor={{ color }}>-</td>
                        <td class="padding-5 text-right" colspan="2" bgcolor={{ color }}>{{ journeeCaisse.mCvd|number_format(0, '.', ' ')  }}</td>
                        <td class="form-inline padding-0">{{ include('journee_caisses/_btn_action_url.html.twig',{'path':(journeeCaisse.statut != 'X')?'devise_recus_achat_vente':'devise_recus_show' , 'btn_name':'modifier', 'btn_label':'Achat / Vente Devises'}) }} |
                            {{ include('journee_caisses/_btn_action_url.html.twig',{'path':'devise_intercaisses_gestion','btn_name':'modifier', 'btn_label':'intercaisse Devises'}) }}</td>
                    {% endif %}
                </tr>
                <tr>
                    {% if is_granted('ROLE_COMPTABLE') %}
                        <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >RECETTES A TERME</td>
                        <td class="padding-5 text-right" colspan="2" bgcolor={{ color }}>-</td>
                        <td class="padding-5 text-right" colspan="2" bgcolor={{ color }}>-</td>
                        <td class="padding-0" rowspan="2">-</td>
                    {% else %}
                        <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >DEPOT : </td>
                        <td class="padding-5 text-right" colspan="2" bgcolor={{ color }}>-</td>
                        <td class="padding-5 text-right" colspan="2" bgcolor={{ color }}>{{ journeeCaisse.mDepotClient|number_format(0, '.', ' ')  }}</td>
                        {% if journeeCaisse.statut != 'X' %}<td class="padding-0" >{{ include('journee_caisses/_btn_action_url.html.twig',{'path':'depot','btn_name':'midifier', 'btn_label':'Dépots'}) }}</td>
                        {% else %}<td class="padding-0" rowspan="2" >{{ include('journee_caisses/_btn_action_url.html.twig',{'path':'transaction_comptes_show','id':journeeCaisse.id,'btn_name':'midifier', 'btn_label':'Depots et retraits'}) }}</td>
                        {% endif %}
                    {% endif %}

                </tr>
                <tr>
                    {% if is_granted('ROLE_COMPTABLE') %}
                        <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >DEPENSES A TERME</td>
                        <td class="padding-5 text-right" colspan="2" bgcolor={{ color }}>-</td>
                        <td class="padding-5 text-right" colspan="2" bgcolor={{ color }}>-</td>
                    {% else %}
                        <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >RETRAIT : </td>
                        <td class="padding-5 text-right" colspan="2" bgcolor={{ color }}>-</td>
                        <td class="padding-5 text-right" colspan="2" bgcolor={{ color }}>{{ journeeCaisse.mRetraitClient|number_format(0, '.', ' ')  }}</td>
                        {% if journeeCaisse.statut != 'X' %}<td class="padding-0" >{{ include('journee_caisses/_btn_action_url.html.twig',{'path':'retrait','btn_name':'midifier', 'btn_label':'Retraits'}) }}</td>{% endif %}
                    {% endif %}
                </tr>
                <tr>
                    <td  class="text-bold padding-5 text-right" align="center" colspan="6" bgcolor="#a9a9a9"> </td>
                </tr>
                <tr>
                    <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >DISPONIBILITE : </td>
                    <td colspan="2"  class="text-bold padding-5 text-right" bgcolor={{ color }}>{{ journeeCaisse.disponibiliteOuv|number_format(0, '.', ' ')  }}</td>
                    <td colspan="2"  class="text-bold padding-5 text-right" bgcolor={{ color }}>{{ journeeCaisse.disponibiliteFerm|number_format(0, '.', ' ')  }}</td>
                    <td  class="text-bold padding-5 text-right" bgcolor={{ color }}></td>
                </tr>
                <tr>
                    <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >SOLDE NET : </td>
                    <td colspan="2"  class="text-bold padding-5 text-right" bgcolor={{ color }}>{{ journeeCaisse.soldeNetOuv|number_format(0, '.', ' ')  }}</td>
                    <td colspan="2"  class="text-bold padding-5 text-right" bgcolor={{ color }}>{{ journeeCaisse.soldeNetFerm|number_format(0, '.', ' ')  }}</td>
                    <td  class="text-bold padding-5 text-right" bgcolor={{ color }}></td>
                </tr>
                <tr>
                    <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >MOUVEMENTS DE FONDS : </td>
                    <td colspan="2"  class="text-bold padding-5 text-right" bgcolor={{ color }}>-</td>
                    <td colspan="2"  class="text-bold padding-5 text-right" bgcolor={{ color }}>{{ journeeCaisse.mouvementFond|number_format(0, '.', ' ')  }}</td>
                    <td  class="text-bold padding-5 text-right" bgcolor={{ color }}></td>
                </tr>
                {% if is_granted('ROLE_COMPTABLE') %}
                {% else %}
                    <tr>
                        <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >COMPENSES : </td>
                        <td colspan="2"  class="text-bold padding-5 text-right" bgcolor={{ color }}>-</td>
                        <td colspan="2"  class="text-bold padding-5 text-right" bgcolor={{ color }}>{{ journeeCaisse.compense|number_format(0, '.', ' ')  }}</td>
                        <td  class="text-bold padding-5 text-right" bgcolor={{ color }}></td>
                    </tr>
                {% endif %}
                <tr>
                    <td class="text-bold text-bloody-500 padding-5 text-right" bgcolor="#a9a9a9" >ECARTS : </td>
                    <td colspan="2" class="text-bold text-bloody-500 padding-5 text-right" bgcolor={{ color }}>{{ journeeCaisse.mEcartOuv|number_format(0, '.', ' ')  }}</td>
                    <td colspan="2" class="text-bold text-bloody-500 padding-5 text-right" bgcolor={{ color }}>{{ journeeCaisse.mEcartFerm|number_format(0, '.', ' ')  }}</td>
                    <td  class="text-bold padding-5 text-right" bgcolor={{ color }}></td>
                </tr>
                {% if is_granted('ROLE_COMPTABLE') %}
                {% else %}
                    <tr>
                        <th  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >Devises </th>
                        <th  class="text-bold padding-5 text-center" bgcolor="#a9a9a9" >Ouverture</th>
                        <th  class="text-bold padding-5 text-center" bgcolor="#a9a9a9" >Mouvements</th>
                        <th  class="text-bold padding-5 text-center" bgcolor="#a9a9a9" >Solde</th>
                        <th  class="text-bold padding-5 text-center" bgcolor="#a9a9a9" >Inventaire</th>
                        <th class="text-bold text-bloody-500 text-center" bgcolor="#a9a9a9" >Ecart</th>
                    </tr>
                    {% for deviseJournee in journeeCaisse.deviseJournees%}
                        <tr>
                            <td class="padding-5 text-right text-bold" bgcolor="#a9a9a9" >{{ deviseJournee.devise }}</td>
                            <td class="padding-5 text-right" bgcolor={{ color }}>{{ deviseJournee.qteOuv|number_format(0, '.', ' ') }}</td>
                            <td class="padding-5 text-right" bgcolor={{ color }}>{{ deviseJournee.qteMouvement|number_format(0, '.', ' ') }}</td>
                            <td class="padding-5 text-right" bgcolor={{ color }}>{{ deviseJournee.solde|number_format(0, '.', ' ') }}</td>
                            <td class="padding-5 text-right" bgcolor={{ color }}>{{ deviseJournee.qteFerm|number_format(0, '.', ' ') }}</td>
                            <td class="text-bold text-bloody-500 padding-0 text-right"><div class="form-inline">
                                    {{ include('journee_caisses/_btn_action_billetage.html.twig',{'id':deviseJournee.billetFerm.id, 'operation':'deviseFerm', 'devise':deviseJournee.devise.id,'btn_name':'inventaire', 'btn_label':'Saisir inventaire'}) }}
                                    {{ deviseJournee.ecartFerm|number_format(0, '.', ' ') }}
                                </div></td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        {% if is_granted('ROLE_COMPTABLE') %}
        {% else %}
            <div class="form-group">
                {{ include('journee_caisses/_btn_action_url.html.twig',{'path':(journeeCaisse.statut != "X")?'journee_caisses_veriferFerm':'journee_caisses_gerer' , 'btn_name':'submit', 'btn_label':(journeeCaisse.statut != "X")?'Arreter la Caisse':'Gerer caisse', 'btn_class':'btn btn-info btn-block'}) }}
            </div>
        {% endif %}
    </div>
{% endblock %}


