{% extends 'base.html.twig' %}
{% block title %}Gestion de caisse menu depenses{% endblock %}
{% block body %}
    <div class="row text-bold text-center "><h1>SAISIE CAISSE MENU DEPENSES : {{ journeeCaisse.caisse }}</h1>

    </div>
<div class="row">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >RUBRIQUE</th>
                <th class="text-bold padding-5 text-right" colspan="2" bgcolor="#a9a9a9" >SOLDE OUVERTURE</th>
                <th class="text-bold padding-5 text-right" colspan="2" bgcolor="#a9a9a9" >SOLDE FERMETURE</th>
                <th bgcolor="#a9a9a9" >ACTIONS</th>
            </tr>
            </thead>
            <tbody class="text-thin">
            <tr>
                <td class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >LIQUIDITE : </td>
                <td class="padding-5 text-right" colspan="2">{{ journeeCaisse.mLiquiditeOuv|number_format(0, '.', ' ')  }}</td>
                <td class="padding-5 text-right" colspan="2">{{ journeeCaisse.mLiquiditeFerm|number_format(0, '.', ' ') }}</td>
                <td class="padding-0" >{{ include('journee_caisses/_btn_action_billetage.html.twig',{'id':journeeCaisse.billetFerm.id, 'operation':'liquiditeFerm', 'devise':0,'btn_name':'Billetage', 'btn_label':'Billetage'}) }}</td>
            </tr>
            <tr>
                <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >ELECTRONIQUE : </td>
                <td class="padding-5 text-right" colspan="2">{{ journeeCaisse.mSoldeElectOuv|number_format(0, '.', ' ')  }}</td>
                <td class="padding-5 text-right" colspan="2">{{ journeeCaisse.mSoldeElectFerm|number_format(0, '.', ' ')  }}</td>
                <td class="padding-0" >{{ include('journee_caisses/_btn_action_elect.html.twig',{'id':journeeCaisse.systemElectInventFerm.id, 'operation':'FERMER', 'btn_name':'Solde', 'btn_label':'Soldes electroniques'}) }}</td>
            </tr>
            <tr>
                <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >DETTES DIVERSES : </td>
                <td class="padding-5 text-right" colspan="2">{{ journeeCaisse.mDetteDiversOuv|number_format(0, '.', ' ')  }}</td>
                <td class="padding-5 text-right" colspan="2">{{ journeeCaisse.mDetteDiversFerm|number_format(0, '.', ' ')  }}</td>
                <td class="padding-0" >{{ include('journee_caisses/_btn_action_url.html.twig',{'path':'detteCredits_divers', 'operation':'FERMER' ,'btn_name':'midifier', 'btn_label':'Dettes et Credits'}) }}</td>
            </tr>
            <tr>
                <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >CREDITS DIVERS : </td>
                <td class="padding-5 text-right" colspan="2">{{ journeeCaisse.mCreditDiversOuv|number_format(0, '.', ' ')  }}</td>
                <td class="padding-5 text-right" colspan="2">{{ journeeCaisse.mCreditDiversFerm|number_format(0, '.', ' ')  }}</td>
                <td></td>
            </tr>
            <tr>
                <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >INTERCAISSE : </td>
                <td class="padding-5 text-right" colspan="2">-</td>
                <td class="padding-5 text-right" colspan="2">{{ journeeCaisse.mIntercaisses|number_format(0, '.', ' ')  }}</td>
                <td class="padding-0" >{{ include('journee_caisses/_btn_action_url.html.twig',{'path':'intercaisses_ajout' , 'operation':'FERMER','btn_name':'midifier', 'btn_label':'Intercaisse'}) }}</td>
            </tr>
            <tr>
                <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >RECETTES AU COMPTANT</td>
                <td class="padding-5 text-right" colspan="2">-</td>
                <td class="padding-5 text-right" colspan="2">{{ journeeCaisse.mRecette|number_format(0, '.', ' ')  }}</td>
                <td class="padding-0" >{{ include('journee_caisses/_btn_action_url.html.twig',{'path':'recette_depenses_saisie_groupee' ,'btn_name':'saisieRecetteDepense', 'btn_label':'Recettes et Depenses au comptant'}) }}</td>
            </tr>
            <tr>
                <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >DEPENSES AU COMPTANT </td>
                <td class="padding-5 text-right" colspan="2">-</td>
                <td class="padding-5 text-right" colspan="2">{{ journeeCaisse.mDepense|number_format(0, '.', ' ')  }}</td>
                <td></td>
            </tr>
            <tr>
                <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >RECETTES A TERME</td>
                <td class="padding-5 text-right" colspan="2">-</td>
                <td class="padding-5 text-right" colspan="2">-</td>
                <td class="form-inline padding-0">-</td>
            </tr>
            <tr>
                <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >DEPENSES A TERME</td>
                <td class="padding-5 text-right" colspan="2">-</td>
                <td class="padding-5 text-right" colspan="2">-</td>
                <td class="padding-0" >-</td>
            </tr>
            <tr>
                <td  class="text-bold padding-5 text-right" align="center" colspan="6" bgcolor="#a9a9a9"> </td>
            </tr>
            <tr>
                <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >DISPONIBILITE : </td>
                <td colspan="2"  class="text-bold padding-5 text-right">{{ journeeCaisse.disponibiliteOuv|number_format(0, '.', ' ')  }}</td>
                <td colspan="2"  class="text-bold padding-5 text-right">{{ journeeCaisse.disponibiliteFerm|number_format(0, '.', ' ')  }}</td>
                <td  class="text-bold padding-5 text-right"></td>
            </tr>
            <tr>
                <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >SOLDE NET : </td>
                <td colspan="2"  class="text-bold padding-5 text-right">{{ journeeCaisse.soldeNetOuv|number_format(0, '.', ' ')  }}</td>
                <td colspan="2"  class="text-bold padding-5 text-right">{{ journeeCaisse.soldeNetFerm|number_format(0, '.', ' ')  }}</td>
                <td  class="text-bold padding-5 text-right"></td>
            </tr>
            <tr>
                <td  class="text-bold padding-5 text-right" bgcolor="#a9a9a9" >MOUVEMENTS DE FONDS : </td>
                <td colspan="2"  class="text-bold padding-5 text-right">-</td>
                <td colspan="2"  class="text-bold padding-5 text-right">{{ journeeCaisse.mouvementFond|number_format(0, '.', ' ')  }}</td>
                <td  class="text-bold padding-5 text-right"></td>
            </tr>
            <tr>
                <td class="text-bold text-bloody-500 padding-5 text-right" bgcolor="#a9a9a9" >ECARTS : </td>
                <td colspan="2" class="text-bold text-bloody-500 padding-5 text-right">{{ journeeCaisse.mEcartOuv|number_format(0, '.', ' ')  }}</td>
                <td colspan="2" class="text-bold text-bloody-500 padding-5 text-right">{{ journeeCaisse.mEcartFerm|number_format(0, '.', ' ')  }}</td>
                <td  class="text-bold padding-5 text-right"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group">
        {{ include('journee_caisses/_btn_action_url.html.twig',{'path':'journee_caisses_veriferFerm' , 'operation':'FERMER','btn_name':'submit', 'btn_label':'Arreter la Caisse', 'btn_class':'btn btn-info btn-block'}) }}
    </div>
</div>
