{% extends 'base.html.twig' %}

{% block title %}Recapitulatif Journee Caisses{% endblock %}

{% block body %}
    <h1>Recapitulatif des journées de caisses index</h1>
<div>
    {{ form_start(form) }}
        {{ include('_criteres_recherches.html.twig') }}
        CAISSE : <select id="caisse" name="caisse" class="">
            <option  {{ (app.request.request.get('caisse')=='')?'selected="selected"':''}} value="">Tous</option>
            {% for caisse in caisses %}
                <option  {{ (caisse_id==caisse.id)?'selected="selected"':''}} value={{ caisse.id }}>{{ caisse }}</option>
            {% endfor %}
        </select>
    {{ form_end(form) }}
</div>
    {{ include('journee_caisses/_liste.html.twig') }}

{% endblock %}