{% extends 'base.html.twig' %}
{% block title %}Vérification de la fermeture{% endblock %}
{% block body %}
    <div> <h1>JOURNEE CAISSE : {{journeeCaisse}}</h1></div>
    <div class="form-group">
    {% if journeeCaisse.mEcartFerm < 1000 and journeeCaisse.mEcartFerm >-500%}
        <div class="form-group">  ECART CAISSE DE <span class="label label-warning label-bordered label-ghost">{{ journeeCaisse.mEcartFerm|number_format(0, '.', ' ') }}</span></div>
    {% else %}
        <div class="form-group"> <span class="label label-danger label-bordered label-ghost">ECART CAISSE DE {{ journeeCaisse.mEcartFerm|number_format(0, '.', ' ') }}</span></div>
    {% endif %}

    {% for deviseJournee in  journeeCaisse.deviseJournees%}
        {% if (deviseJournee.ecartFerm==0)  %}
            <div class="form-group"> ECART DEVISE <span class="label label-warning label-bordered label-ghost">{{ deviseJournee.devise }} : {{ deviseJournee.EcartFerm|number_format(0, '.', ' ') }}</span></div>
        {% else %}
            <div class="form-group"><span class="label label-danger label-bordered label-ghost"> ECART DEVISE {{ deviseJournee.devise }} : {{ deviseJournee.EcartFerm|number_format(0, '.', ' ') }}</span></div>
        {% endif %}
    {% endfor %}
    </div>
    <div class="form-group">
        {{ include('_btn_close.html.twig',{'btn_label':'RETOUR', 'btn_class':'btn btn-cancel btn-block'}) }}
        <form class="form-inline" method="POST" action="{{ path('journee_caisses_fermer')}}" >
            <input type="hidden" name="_method" value="FERMERCAISSE">
            <input type="hidden" name="_token" value="{{ csrf_token('fermer' ~ journeeCaisse.id)}}">
            <button class="btn btn-info btn-block"  name="fermerCaisse">Confirmer définitivement</button>
        </form>
    </div>

{% endblock %}


