{% extends 'base.html.twig' %}

{% block title %}DeviseJournees index{% endblock %}

{% block body %}
    <h1>LISTE DES DEVISES JOURNEES</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>QteOuv</th>
                <th>EcartOuv</th>
                <th>QteAchat</th>
                <th>QteVente</th>
                <th>MCvdAchat</th>
                <th>MCvdVente</th>
                <th>QteIntercaisse</th>
                <th>QteFerm</th>
                <th>EcartFerm</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for devise_journee in devise_journees %}
            <tr>
                {% if src == 'orm' %}
                <td>{{ devise_journee.id }}</td>
                <td>{{ devise_journee.qteOuv }}</td>
                <td>{{ devise_journee.ecartOuv }}</td>
                <td>{{ devise_journee.qteAchat }}</td>
                <td>{{ devise_journee.qteVente }}</td>
                <td>{{ devise_journee.mCvdAchat|number_format(0,',', ' ') }}</td>
                <td>{{ devise_journee.mCvdVente|number_format(0,',', ' ') }}</td>
                <td>{{ devise_journee.qteIntercaisse }}</td>
                <td>{{ devise_journee.qteFerm }}</td>
                <td>{{ devise_journee.ecartFerm }}</td>
                {% else %}
                    <td>{{ devise_journee.id }}</td>
                    <td>{{ devise_journee.qte_ouv }}</td>
                    <td>{{ devise_journee.ecart_ouv }}</td>
                    <td>{{ devise_journee.qte_achat }}</td>
                    <td>{{ devise_journee.qte_vente }}</td>
                    <td>{{ devise_journee.m_cvd_achat|number_format(0,',', ' ') }}</td>
                    <td>{{ devise_journee.m_cvd_vente|number_format(0,',', ' ') }}</td>
                    <td>{{ devise_journee.qte_intercaisse }}</td>
                    <td>{{ devise_journee.qte_ferm }}</td>
                    <td>{{ devise_journee.ecart_ferm }}</td>
                    {% endif %}
                <td>
                    <a href="{{ path('devise_journees_show', {'id': devise_journee.id}) }}">Detail</a>
                    <a href="{{ path('devise_journees_edit', {'id': devise_journee.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Aucune Devise Journee n'est trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('devise_journees_new') }}">Ajouter</a>
{% endblock %}