{% extends 'base.html.twig' %}

{% block title %}Edit Billets{% endblock %}

{% block body %}
    <h1>Modifier Billets</h1>

    {{ include('billets/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <div class="form-inline"><a href="{{ path('billets_index') }}">Retour à la liste</a> ||

        <a href="{{ path('billets_edit', {'id': billet.id}) }}">Modifier</a>||

        {{ include('billets/_delete_form.html.twig') }}</div>
    {{ include('billets/_liste.html.twig') }}
{% endblock %}