{{ form_start(form, {'attr': {'class': 'form-vertical','onsubmit':"return confirm('Confirmer intercaisse ?');"}}) }}
<div class="form-group">
    <div class="form-inline">
        {{ form_row(form.journeeCaisseSource) }}
    </div>
</div>

<h3>Devises à transferer </h3>

<div class="form-group">
    <table>
        <thead class="form-row">
        <tr class="form-inline">
            <th width="180"> DEVISES</th>
            <th width="180"> QUANTITE</th>
        </tr>
        </thead>
        <tbody class="form-row deviseMouvements" data-prototype="
<td>{{ form_widget(form.deviseTmpMouvements.vars.prototype.devise)|e('html_attr')}}</td>
<td>{{ form_widget(form.deviseTmpMouvements.vars.prototype.nombre)|e('html_attr')}}</td>">

        </tbody>

    </table>

</div>

<div class="form-group">
    <div class="form-row">
        {{ form_widget(form.save_and_new) }} {{ form_widget(form.save_and_close) }}
        {{ form_end(form) }}
        {{ include('journee_caisses/_btn_return_gerer.html.twig') }}

    </div>
</div>

{{ form_end(form) }}