<h1>Intercaisses encours </h1>
    <div class="form-group">
             <table class="table">
                 <thead>
                     <tr>
                         <th>PARTENAIRE</th>
                         <th>OBSERVATIONS</th>
                         <th>STATUT</th>
                         <th>ACTIONS</th>
                     </tr>
                 </thead>
                 <tbody>
                 {% for devise_tmp_mvt_intercaisse in devise_tmp_mvt_intercaisses %}

                    <tr>
                        <td>{{ devise_tmp_mvt_intercaisse.journeeCaisseSource }}=>{{ devise_tmp_mvt_intercaisse.journeeCaisseDestination }}</td>
                        <td>{{ devise_tmp_mvt_intercaisse.observations }} </td>
                        <td>{{ (devise_tmp_mvt_intercaisse.statut=='I')
                            ?'Initié':(devise_tmp_mvt_intercaisse.statut=='V')
                            ?'Validé':(devise_tmp_mvt_intercaisse.statut=='VA')
                            ?'Auto validé':'Non defini'}}
                        </td>
                        <td><div class="form-row">
                            {% if  devise_tmp_mvt_intercaisse.statut=='I' %}
                                {% if  journeeCaisse==devise_tmp_mvt_intercaisse.journeeCaisseDestination %}
                                   {{ include('devise_intercaisses/_btn_action.html.twig',{'btn_name':'valider', 'btn_label':'Valider', 'confirm_message':'VALIDER DEFINITIVEMENT INTERCAISSE ?'}) }}
                                {% endif %}
                                {% if  journeeCaisse==devise_tmp_mvt_intercaisse.journeeCaisseSource %}
                                    {{ include('devise_intercaisses/_btn_action.html.twig',{'btn_name':'annuler', 'btn_label':'Annuler', 'confirm_message':'Annuler Vraiment cet intercaisse ?'}) }}
                                {% endif %}
                            {% else %}

                            {% endif %}
                            </div>
                        </td>
                    </tr>
                    <tr><td colspan="4">
                    <ul>
                    {% for deviseTmpMouvement in  devise_tmp_mvt_intercaisse.deviseTmpMouvements %}
                        <li>
                            {{ (deviseTmpMouvement.nombre < 0)?'SORTIE':'ENTREE'}} {{ deviseTmpMouvement.nombre }} {{ deviseTmpMouvement.devise }}
                        </li>

                    {% endfor %}
                    </ul>
                        </td></tr>
                 {% else %}
                 <tr>
                     <td colspan="4" class="text-danger">Aucune intercaisse en instance</td>
                 </tr>
                 </tbody>
                {% endfor %}
             </table>
    </div>

 <h1>Intercaisses validées</h1>

         <div class="form-group">
             <table class="table">
                 <thead>
                     <tr>
                         <th>PARTENAIRE</th>
                         <th>OBSERVATIONS</th>
                         <th>STATUT</th>
                         <th>ACTIONS</th>
                     </tr>
                 </thead>
                 <tbody>
                 {% for devise_mvt_intercaisse in devise_mvt_intercaisses %}

                    <tr>
                        <td>{{ devise_mvt_intercaisse.journeeCaisseSource }}=>{{ devise_mvt_intercaisse.journeeCaisseDestination }}</td>
                        <td>{{ devise_mvt_intercaisse.observations }} </td>
                        <td>{{ (devise_mvt_intercaisse.statut=='I')
                            ?'Initié':(devise_mvt_intercaisse.statut=='V')
                            ?'Validé':(devise_mvt_intercaisse.statut=='VA')
                            ?'Auto validé':'Non defini'}}
                        </td>
                        <td> </td>
                    </tr>
                    <tr><td colspan="4">
                    <ul>
                    {% for deviseMouvement in  devise_mvt_intercaisse.deviseMouvements %}
                        <li>
                            {{ (deviseMouvement.nombre < 0)?'SORTIE':'ENTREE'}} {{ deviseMouvement.nombre }} {{ deviseMouvement.devise }}
                        </li>

                    {% endfor %}
                    </ul>
                        </td></tr>
                 {% else %}
                 <tr>
                     <td colspan="4" class="text-danger">Aucune intercaisse Validée</td>
                 </tr>
                 </tbody>
                {% endfor %}
             </table>

    </div>