{% extends 'base.html.twig' %}

{% block title %}Devise - Intercaisses{% endblock %}

{% block body %}
    <h1>Acceptation d'intercaisse</h1>

    {{ include('devise_intercaisses/_form.html.twig') }}

 <!--   <table class="table">
        <thead>
        <tr>
            <th>CAISSE PARTENAIRE</th>
            <th>DEVISE</th>
            <th>QTE | STATUT</th>
        </tr>
        </thead>

        <tbody> -->
    <div class="form-inline">
             <table class="table">
                 <thead>
                     <tr>
                         <th>PARTENAIRE</th>
                         <th>OBSERVATIONS</th>
                         <th>STATUT</th>
                         <th>ACTIONS</th>
                     </tr>
                 </thead>
                 <tbody>
                 {% for devise_mvt_intercaisse in devise_mvt_intercaisses %}

                    <tr>
                        <td>{{ devise_mvt_intercaisse.journeeCaisseSource }}=>{{ devise_mvt_intercaisse.journeeCaisseDestination }}</td>
                        <td>{{ devise_mvt_intercaisse.observations }} </td>
                        <td>{{ (devise_mvt_intercaisse.statut=='VA')
                            ?'Auto validé':(devise_mvt_intercaisse.statut=='V')
                            ?'Validé':'Annulation demandée' }}
                        </td>
                        <td>{{ (devise_mvt_intercaisse.statut=='DA')
                            ?'<button type="submit" id="devise_intercaisses_autorise_annul" name="devise_intercaisses[autorise_annul]" class="btn-primary btn">Autoriser</button>'
                            :(devise_mvt_intercaisse.statut=='VA')
                            ?'<button type="submit" id="devise_intercaisses_demande_annul" name="devise_intercaisses[demande_annul]" class="btn-primary btn">Annuler</button>'
                            :''
                            }}
                        </td>
                    </tr>
                    <tr><td colspan="4">
                    <ul>
                    {% for deviseMouvement in  devise_mvt_intercaisse.deviseMouvements %}
                        <li>
                            {{ (deviseMouvement.nombre < 0)?'SORTIE':'ENTREE'}} {{ deviseMouvement.nombre }} {{ deviseMouvement.devise }}
                        </li>

                    {% endfor %}
                    </ul>
                        </td></tr>
                 </tbody>
                {% endfor %}
             </table>

    </div>



    <a href="{{ path('devise_intercaisses_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('js/dm.js') }}"></script>


{% endblock %}