{% extends 'base.html.twig' %}

{% block title %}DeviseIntercaisses index{% endblock %}

{% block body %}
    <h1>DeviseIntercaisses index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>MIntercaisse</th>
                <th>Statut</th>
                <th>Observations</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for devise_intercaiss in devise_intercaisses %}
            <tr>
                <td>{{ devise_intercaiss.id }}</td>
                <td>{{ devise_intercaiss.mIntercaisse }}</td>
                <td>{{ devise_intercaiss.statut }}</td>
                <td>{{ devise_intercaiss.observations }}</td>
                <td>
                    <a href="{{ path('devise_intercaisses_show', {'id': devise_intercaiss.id}) }}">show</a>
                    <a href="{{ path('devise_intercaisses_edit', {'id': devise_intercaiss.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('devise_intercaisses_new') }}">Create new</a>
{% endblock %}