{% extends 'base.html.twig' %}

{% block title %}DeviseIntercaisses{% endblock %}

{% block body %}
    <h1>DeviseIntercaisses</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ devise_intercaiss.id }}</td>
            </tr>
            <tr>
                <th>MIntercaisse</th>
                <td>{{ devise_intercaiss.mIntercaisse }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ devise_intercaiss.statut }}</td>
            </tr>
            <tr>
                <th>Observations</th>
                <td>{{ devise_intercaiss.observations }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('devise_intercaisses_index') }}">back to list</a>

    <a href="{{ path('devise_intercaisses_edit', {'id': devise_intercaiss.id}) }}">edit</a>

    {{ include('devise_intercaisses/_delete_form.html.twig') }}
{% endblock %}