{% extends 'base.html.twig' %}

{% block title %}Edit TypeOperationComptables{% endblock %}

{% block body %}
    <h1>Edit TypeOperationComptables</h1>

    {{ include('type_operation_comptables/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class="form-inline"><a href="{{ path('type_operation_comptables_index') }}">Retour à la liste</a> ||

        <a href="{{ path('type_operation_comptables_edit', {'id': type_operation_comptable.id}) }}">Modifier</a> ||

        {{ include('type_operation_comptables/_delete_form.html.twig') }}
    </div>
    {{ include('type_operation_comptables/_liste.html.twig') }}
{% endblock %}
