{% extends 'base.html.twig' %}

{% block title %}TypeOperationComptables index{% endblock %}

{% block body %}
    <h1>TypeOperationComptables index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_operation_comptable in type_operation_comptables %}
            <tr>
                <td>{{ type_operation_comptable.id }}</td>
                <td>{{ type_operation_comptable.libelle }}</td>
                <td>
                    <a href="{{ path('type_operation_comptables_show', {'id': type_operation_comptable.id}) }}">show</a>
                    <a href="{{ path('type_operation_comptables_edit', {'id': type_operation_comptable.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_operation_comptables_new') }}">Create new</a>
{% endblock %}
