{% extends 'base.html.twig' %}

{% block title %}TypeOperationComptables{% endblock %}

{% block body %}
    <h1>Detail de type d'operations</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_operation_comptable.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ type_operation_comptable.libelle }}</td>
            </tr>
            <tr>
                <th>Compte</th>
                <td>{{ type_operation_comptable.compte }}</td>
            </tr>
        </tbody>
    </table>

    <div class="form-inline"><a href="{{ path('type_operation_comptables_index') }}">Retour à la liste</a> ||

    <a href="{{ path('type_operation_comptables_edit', {'id': type_operation_comptable.id}) }}">Modifier</a> ||

    {{ include('type_operation_comptables/_delete_form.html.twig') }}
    </div>
    {{ include('type_operation_comptables/_liste.html.twig') }}

{% endblock %}
