
<nav>
    <ul class="pagination pagination-rounded">
        {% if pages > 1 %}
        {% for pag in 1..pages  %}
            {% if app.request.query.get('_page') == pag or (not app.request.query.get('_page') and pag==1) %}<li class="active">
            {% else %} <li>
            {% endif %}
            {% if app.request.query.get('master') %} <a href="{{ path(path, {'_page':  pag, 'master':  app.request.query.get('master')}) }}">{{ pag }}</a></li>
            {% elseif app.request.attributes.get('id') %} <a href="{{ path(path, {'_page':  pag, 'id':id}) }}">{{ pag }}</a></li>
            {% else %} <a href="{{ path(path, {'_page':  pag}) }}">{{ pag }}</a></li>
            {% endif %}
        {% endfor %}
        {% endif %}
    </ul>
</nav>
