<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <!-- <link rel="stylesheet" href="{ asset('css/warisso.css') }}">
            <link rel="stylesheet" href="{ asset('css/jquery-ui.min.css') }}">
            -->

            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
            <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
            -->
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
            <link rel="stylesheet" href="{{ asset('css/select2/select2.min.css') }}">

        {% endblock %}

    </head>
    <body>
    <div class="app">
        <div class="app-container">
            <div class="app-sidebar app-navigation app-navigation-fixed scroll app-navigation-style-default app-navigation-open-hover dir-left" data-type="close-other">
                <a href="#" class="app-navigation-logo">
                    WARISSO
                <!--    <button class="app-navigation-logo-button mobile-hidden" data-sidepanel-toggle=".app-sidepanel"><span class="icon-alarm"></span> <span class="app-navigation-logo-button-alert">7</span></button>
                --></a>
                {% set active_route=app.request.attributes.get('_route') %}
                {{ render(controller(
                'App\\Controller\\Menu::getSideBarMenu'
                ,{ 'active_route': active_route }
                )) }}
            </div>

            <div class="app-content app-sidebar-left">
            <!-- START PAGE CONTAINER -->
                <div class="app-header app-header-design-default">
                    <ul class="app-header-buttons">
                        <li class="visible-mobile"><a href="#" class="btn btn-link btn-icon" data-sidebar-toggle=".app-sidebar.dir-left"><span class="icon-menu"></span></a></li>
                        <li class="hidden-mobile"><a href="#" class="btn btn-link btn-icon" data-sidebar-minimize=".app-sidebar.dir-left"><span class="icon-menu"></span></a></li>
                    </ul>
                    <ul class="app-header-buttons pull-right">
                        <li>
                            <div class="contact contact-rounded contact-bordered contact-lg contact-ps-controls">
                                <img src="{{ asset('images/user1.png') }}" alt="">
                                <div class="contact-container">
                                    <a href="{{ path('utilisateurs_show', {'id': app.user.id}) }}">{{ app.user }}</a>
                                    <a href="{{ path('logout') }}" class="close" >Deconnecter </a>
                                </div>
                                <div class="contact-controls">
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-default btn-icon" data-toggle="dropdown" aria-expanded="true"><span class="icon-cog"></span></button>
                                        <ul class="dropdown-menu dropdown-left">
                                            <li><a href="{{ path('utilisateurs_profile') }}"><span class="icon-cog"></span> Profil</a></li>
                                            <li><a href="#"><span class="icon-envelope"></span> Messages <span class="label label-danger pull-right">+0</span></a></li>
                                            <li class="divider"></li>
                                            <li><a href="{{ path('logout') }}"><span class="icon-exit"></span> Deconnecter</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                    <!-- CONTENT CONTAINER -->

                    <div class="block margin-top-10">
                        <div class="row  margin-left-10 margin-right-10">
                    {% for msg in app.session.flashBag.get('success') %}
                        <div class="alert alert-success">
                            {{ msg }}
                        </div>
                    {% endfor %}
                    {% for msg in app.session.flashBag.get('error') %}

                        <div class="alert alert-danger">
                            {{ msg }}
                        </div>
                    {% endfor %}

                        </div>
                        <div class="row  margin-left-10 margin-right-10">

                            {% block body %}

                            {% endblock %}
                        </div>
                    </div>
                <!-- CONTENT CONTAINER -->
            </div>

        </div>
    </div>
    </body>
    {% block javascripts %}
        <!-- <script src="{ asset('js/jquery-3.1.1.js') }}"></script>
            <script src="{ asset('js/jquery-ui.min.js') }}"></script>
            <script src="{ asset('js/main.js') }}"></script>-->


        <script src="{{ asset('build/js/app.js') }}"></script>
        <script src="{{   asset('js/warisso.js') }}"></script>
        <script src="{{ asset('js/app.js') }}"></script>
        <script src="{{ asset('js/app_plugins.js') }}"></script>
        <script src="{{ asset('js/select2/select2.min.js') }}"></script>

    {% endblock %}




</html>
