<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <!-- <link rel="stylesheet" href="{ asset('css/warisso.css') }}">
            <link rel="stylesheet" href="{ asset('css/jquery-ui.min.css') }}">
            -->

            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
            <link rel="stylesheet" href="{{ asset('css/select2/select2.min.css') }}">

        {% endblock %}




    </head>
    <body>

    <div class="app">
        <div class="app-container">
            {% set active_route=app.request.attributes.get('_route') %}
            {{ render(controller(
            'App\\Controller\\Menu::getSideBarMenu'
            ,{ 'active_route': active_route }
            )) }}

            <div class="app-content">
                <!-- START PAGE CONTAINER -->
                <div class="container">
				
                    {#<div><span class="float-sm-right glyphicon glyphicon-user">{{ app.user }}</span><a href="{{ path('logout') }}" class="close" > <span class="glyphicon glyphicon-off" aria-hidden="true"></span>Deconnecter </a> </div>
                    #}
					
                    <div class="app-content-separate-content">
                        <!-- CONTENT CONTAINER -->
                        <div class="container">
                            {% for msg in app.session.flashBag.get('success') %}
                                <div class="alert alert-success">
                                    {{ msg }}
                                </div>
                            {% endfor %}
                            {% for msg in app.session.flashBag.get('error') %}
                                <div class="alert alert-danger">
                                    {{ msg }}
                                </div>
                            {% endfor %}
                            <div class="block block-condensed padding-top-20">
                                <div class="block-content">

                                    {% block body %}

                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                        <!-- CONTENT CONTAINER -->
                    </div>

                    <div class="app-header app-header-design-default">
                        <ul class="app-header-buttons visible-mobile">
                            <li><a href="#" class="btn btn-link btn-icon" data-navigation-horizontal-toggle="true"><span class="icon-menu"></span></a></li>
                        </ul>
                        <a href="index.php" class="app-header-logo app-header-logo-light app-header-logo-condensed">Warisso</a>

                        <ul class="app-header-buttons pull-right">
                            <li>
                                <div class="contact contact-rounded contact-bordered contact-lg contact-ps-controls">
                                    <img src="assets/images/users/user_1.jpg" alt="">
                                    <div class="contact-container">
                                        <a href="#">{{ app.user }}</a>
                                        <a href="{{ path('logout') }}" class="close" >Deconnecter </a>
                                    </div>
                                    <div class="contact-controls">
                                        <div class="dropdown">
                                            <button type="button" class="btn btn-default btn-icon" data-toggle="dropdown" aria-expanded="true"><span class="icon-cog"></span></button>
                                            <ul class="dropdown-menu dropdown-left">
                                                <li><a href="#"><span class="icon-cog"></span> Profil</a></li>
                                                <li><a href="#"><span class="icon-envelope"></span> Messages <span class="label label-danger pull-right">+0</span></a></li>
                                                <li class="divider"></li>
                                                <li><a href="{{ path('logout') }}"><span class="icon-exit"></span> Deconnecter</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </body>
    {% block javascripts %}
        <!-- <script src="{ asset('js/jquery-3.1.1.js') }}"></script>
            <script src="{ asset('js/jquery-ui.min.js') }}"></script>
            <script src="{ asset('js/main.js') }}"></script>-->


        <script src="{{ asset('build/js/app.js') }}"></script>
        <script src="{{   asset('js/warisso.js') }}"></script>
        <script src="{{ asset('js/app.js') }}"></script>
        <script src="{{ asset('js/app_plugins.js') }}"></script>
        <script src="{{ asset('js/select2/select2.min.js') }}"></script>

    {% endblock %}




</html>
