{% extends 'base.html.twig' %}

{% block title %}Transactions{% endblock %}

{% block body %}
    {% for transaction in transactions %}
        <h1>{{ transaction.libelle }}</h1>
        <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Libelle</th>
            <th>DateTransaction</th>
            <th>Utilisateur</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ transaction.id }}</td>
                <td>{{ transaction.libelle }}</td>
                <td>{{ transaction.dateTransaction ? transaction.dateTransaction|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ transaction.utilisateur.nom }} {{ transaction.utilisateur.prenom }}</td>
            </tr>


               <tr><table class="table">
                    <thead>
                    <tr><h2> Lignes écritures </h2></tr>
                    <tr>
                        <th>Id</th>
                        <th>numéro du compte</th>
                        <th>Intitulé du compte</th>
                        <th>Débit</th>
                        <th>Crédit</th>
                    </tr>
                    </thead>
                    <tbody>
            {% for transactionCompte in transaction.transactionComptes %}
                <tr>
                            <td>{{ transactionCompte.id }}</td>
                            <td>{{ transactionCompte.numCompte }}</td>
                            <td>{{ transactionCompte.compte.intitule }}</td>
                            <td>{{ transactionCompte.mDebit ? transactionCompte.mDebit: '0' }}</td>
                            <td>{{ transactionCompte.mCredit ? transactionCompte.mCredit: '0' }}</td>

                        </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucune ligne trouvée</td>
                </tr>
            {% endfor %}
                    </tbody>
                    </table>


            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune écriture comptables</td>
            </tr>
        </tbody>
    </table>

    {% endfor %}
    <a href="{{ path('transactions_new') }}">Create new</a>
{% endblock %}