{% extends 'base.html.twig' %}

{% block title %}Pays{% endblock %}

{% block body %}
    <h1>Detail Pays</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pay.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ pay.libelle }}</td>
            </tr>
            <tr>
                <th>Zone</th>
                <td>{{ pay.zone }}</td>
            </tr>
            <tr>
                <th>Est dans la zone</th>
                <td>{{ (pay.dansRegion)?'OUI':'NON' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="form-inline"><a href="{{ path('pays_index') }}">Retour à la liste</a> ||

    <a href="{{ path('pays_edit', {'id': pay.id}) }}">Modifier</a> ||

    {{ include('pays/_delete_form.html.twig') }}
    </div>
    {{ include('pays/_liste.html.twig') }}

{% endblock %}