{% extends 'base.html.twig' %}
{% block title %}login{% endblock %}
{% block body %}

{% if error %}
        <div>{{ error }}</div>
    {% endif %}
{{ form_start(form) }}
<table class="table">
    <tr>
        <td> {{ form_label(form.login) }} </td>
        <td> {{ form_widget(form.login) }}</td>
    </tr>
    <tr>
        <td> {{ form_label(form.mdp) }}</td>
        <td> {{ form_widget(form.mdp) }}</td>
    </tr>
	{#<tr>
        <td> {{ form_label(form.caisse) }}</td>
        <td> {{ form_widget(form.caisse) }}</td>
    </tr>#}
    <tr>
        <td> <button class="btn-primary btn" type="submit">connecter</button></td>
        <td> <button type="reset">annuler</button></td>
    </tr>
</table>

    {{ form(form) }}
{% endblock %}
