{{ form_start(form, {'attr': {'onsubmit':'return confirm("Voulez vous continuer ?");'} } ) }}
<table class="table">
    <tr>
        {#<td>Intercaisse Sortant ?</td><td>{{ form_widget(form.sortant) }}</td>
        #}</tr>
    <tr>
        <td>Caisse Partenaire</td><td>{{ form_widget(form.journeeCaisseSortant) }}</td>
    </tr>
    <tr>
        <td>Montant</td><td>{{ form_widget(form.mIntercaisse) }} {{ form_errors(form.mIntercaisse) }}</td>
    </tr>{#<tr>
        <td>Status</td><td>{{ form_widget(form.statut) }}</td>
    </tr>#}<tr>
        <td>Commentaire</td><td>{{ form_widget(form.observations) }}</td>
    </tr>
</table>
<button  class="btn btn-info" name="enregistrer" id="enregistrer">{{ button_label|default('Enregistrer et Nouveau') }}</button>
<button  class="btn btn-info" name="enregistreretfermer" id="enregistreretfermer">{{ button_label|default('Enregistrer et Fermer') }}</button>
{# <input type="hidden" name="_operation" value="{{ operation }}">
<input type="hidden" name="_journeeCaisse" value="{{ journeeCaisse.id }}">#}
{{ form_end(form) }}
