{% extends 'base.html.twig' %}

{% block title %}Gestion des interCaisses{% endblock %}

{% block body %}
    <h1>Inter-Caisse {{ journeeCaisse.caisse }}</h1>

    {{ include('intercaisses/_form.html.twig') }}

    {#<form method="post" action="{{ path('intercaisses_ajout', {'id':journeeCaisse.id}) }}">
    #} {% if journeeCaisse.statut!="F" %}
    {#    <button type="button" id="validerIntercaisses" class="btn-info" value="btest"> VALIDER TOUT</button>
    #}   {% endif %}
        <table class="table">
            <thead>
            <tr>
                <th>Partenaire</th>
                <th>Montant</th>
                <th>Status</th>
                <th>Observations</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Inter caisses Entrants</th>
                <th>{{ totalR|number_format(0, '.', ' ') }}</th>
            </tr>
            {% set i = 0 %}
            {% for intercaisse in journeeCaisse.intercaisseEntrants %}
                {% if  intercaisse.statut!='X'  %}
                    <tr id="{{ intercaisse.id }}E">
                        <td>{{ intercaisse }}</td>
                        <td>{{ intercaisse.mIntercaisse|number_format(0, '.', ' ') }}</td>
                        <td>{{ (intercaisse.statut=='I')
                            ?'Initié':(intercaisse.statut=='V')
                            ?'Validé':(intercaisse.statut=='VA')
                            ?'Auto validé': 'Non defini'}}
                        </td>
                        <td>{{ intercaisse.observations }}</td>
                        <td>
                            <div class="form-row">
                                {% if  intercaisse.statut=='I' %}
                                    {{ include('intercaisses/_btn_valider_annuler.html.twig',{'btn_name':'valider', 'btn_label':'Valider', 'confirm_message':'VALIDER DEFINITIVEMENT INTERCAISSE ?'}) }}

                                    {# {{ include('intercaisses/_btn_action.html.twig',{'btn_id':''~intercaisse.id~'V', 'btn_value':''~intercaisse.id~'V','btn_name':'Valider', 'btn_label':'Valider', 'confirm_message':'Voulez vous valider cet intercaisse ?'}) }}
                                    #}{% endif %}

                            </div>
                        </td>
                        <td > <input hidden value="{{ intercaisse.statut }}" class="statutintercaisse" id="intercaisse{{ i }}"></td>
                        {% set i = i+1 %}
                    </tr>
                {% endif %}
            {% else %}
                <tr> <td colspan="5"> Aucun Enregistrement trouve.</td></tr>

            {% endfor %}
            </tbody>
        </table>

        <table class="table">
            <thead><tr><th>Partenaire</th><th>Montant</th><th>Status</th><th>Observations</th><th>Action</th></tr></thead>
            <tbody>
            <tr><th>Inter caisses Sortants</th><th>{{ totalE|number_format(0, '.', ' ') }}</th></tr>
            {% for intercaisse in journeeCaisse.intercaisseSortants  %}
                {% if  intercaisse.statut!='X'  %}
                    <tr id="{{ intercaisse.id }}S">
                        <td>{{ intercaisse }}</td>
                        <td>{{ intercaisse.mIntercaisse|number_format(0, '.', ' ') }}</td>
                        <td >

                            <span id="statut{{intercaisse.id}}V">{{ (intercaisse.statut=='I')
                            ?'Initié':(intercaisse.statut=='V')
                            ?'Validé':(intercaisse.statut=='X')
                            ?'Annulé'}}
                            </span>
                        </td>
                        <td>{{ intercaisse.observations }}</td>
                        <td><div class="form-row">
                                {% if  intercaisse.statut=='I' %}
                                    {{ include('intercaisses/_btn_valider_annuler.html.twig',{'btn_name':'annuler', 'btn_label':'Annuler', 'confirm_message':'Annuler Vraiment cet intercaisse ?'}) }}
                                  {#  {{ include('intercaisses/_btn_action.html.twig',{'btn_id':''~intercaisse.id~'X', 'btn_value':''~intercaisse.id~'X','btn_name':'Annuler', 'btn_label':'Annuler', 'confirm_message':'Annuler Vraiment cet intercaisse ?'}) }}
                                    #}{% endif %}

                            </div>
                        </td>
                        <td > <input hidden value="{{ intercaisse.statut }}" class="statutintercaisse" id="intercaisse{{i}}"></td>
                        {% set i = i+1 %}
                    </tr>
                {% endif %}
            {% else %}
                <tr> <td colspan="5">Aucun Enregistrement trouve.</td></tr>
            {% endfor %}
            </tbody>
        </table>
        <div hidden>
            <input type="hidden" id="jc" name="_journeeCaisse" value="{{ journeeCaisse.id }}">

        </div>
  {#  </form>#}


{% endblock %}
{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript">
        $("#validerIntercaisses").click(function () {
            if (confirm("Voulez vous vraiment tout valider ? "))
                valider();
        });

    </script>
{% endblock %}