<div class="form-inline">
    {{ include('journee_caisses/_btn_return_gerer.html.twig') }}

</div>
{{ form_start(form, {'attr': {'onsubmit':'return confirm("Voulez vous continuer ?");'} } ) }}
<table class="table" onload="reset()">
    <tr id="montant">
        <td>Montant </td><td>{{ form_widget(form.mSaisie) }}{{ form_errors(form.mSaisie) }}</td>
    </tr>
    <tr>
        <td>Commentaire</td><td>{{ form_widget(form.libelle) }}</td>
    </tr>
    <tr>
        <td>
            <button class="btn-info" name="enregistrer" id="enregistrer">{{ button_label|default('Enregistrer et Nouveau') }}</button>
        </td>
        <td>
            <button class="btn-info" name="enregistreretfermer" id="enregistreretfermer">{{ button_label|default('Enregistrer et Fermer') }}</button>
        </td>
    </tr>
</table>
{{ form_end(form) }}

