{% extends 'base.html.twig' %}

{% block title %}DetteCreditDivers{% endblock %}

{% block body %}
    <h1>DETAILS</h1>

    <table class="table">
        <tbody>
            {#<tr>
                <th>Id</th>
                <td>{{ dette_credit_diver.id }}</td>
            </tr>#}
            <tr>
                <th>Date Création</th>
                <td>{{ dette_credit_diver.dateCreation ? dette_credit_diver.dateCreation|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Utilisateur Création</th>
                <td>{{ dette_credit_diver.utilisateurCreation }}</td>
            </tr>
            <tr>
                <th>Date Remboursement</th>
                <td>{{ dette_credit_diver.dateRemboursement ? dette_credit_diver.dateRemboursement|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Utilisateur Remboursement</th>
                <td>{{ dette_credit_diver.utilisateurRemboursement }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ dette_credit_diver.libelle }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ (dette_credit_diver.statut == 'X')? 'REMBOURSE' : 'EN COURS' }}</td>
            </tr>
            <tr>
                <th>MCredit</th>
                <td>{{ dette_credit_diver.mCredit }}</td>
            </tr>
            <tr>
                <th>MDette</th>
                <td>{{ dette_credit_diver.mDette }}</td>
            </tr>
        </tbody>
    </table>
    {{ include('_btn_close.html.twig') }}

{% endblock %}