{% extends 'base.html.twig' %}

{% block title %}Zones{% endblock %}

{% block body %}
    <h1>Détails des zones</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ zone.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ zone.libelle }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ zone.code }}</td>
            </tr>
            <tr>
                <th>Ordre</th>
                <td>{{ zone.ordre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('zones_index') }}">Liste</a>

    <a href="{{ path('zones_edit', {'id': zone.id}) }}">Modifier</a>

    {{ include('zones/_delete_form.html.twig') }}
{% endblock %}
