<div class="form-group">
    <div class="form-row">
        <div class="form-row deviseMouvements" data-prototype="{{ form_widget(form.deviseMouvements.vars.prototype.sens)|e('html_attr') }}
    {{ form_widget(form.deviseMouvements.vars.prototype.devise)|e('html_attr') }}
    {{ form_widget(form.deviseMouvements.vars.prototype.nombre)|e('html_attr') }}
    {{ form_widget(form.deviseMouvements.vars.prototype.taux)|e('html_attr') }}">
            {% for deviseMouvement in form.deviseMouvements %}
                <div class="form-inline">{{ form_widget(deviseMouvement.sens) }} {{ form_widget(deviseMouvement.devise) }} {{ form_widget(deviseMouvement.nombre) }} {{ form_widget(deviseMouvement.taux) }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>