{% extends 'base.html.twig' %}

{% block title %}DeviseMouvements index{% endblock %}

{% block body %}
    <h1>Mouvements de devises </h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Taux</th>
                {#<th>MCvd</th>#}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for devise_mouvement in devise_mouvements %}
            <tr>
                <td>{{ devise_mouvement.id }}</td>
                {#<td>{{ devise_mouvement.sens }}</td>#}
                <td>{{ devise_mouvement.nombre }}</td>
                <td>{{ devise_mouvement.taux }}</td>
                <td>

                    <a href="{{ path('devise_recus_imprimer', {'id': devise_mouvement.devise_recu_id}) }}">imprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('devise_mouvements_new') }}">Ajouter</a>
{% endblock %}