{% extends 'base.html.twig' %}

{% block title %}DeviseMouvements index{% endblock %}

{% block body %}
    <h1>Mouvements de devises </h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Sens</th>
                <th>Nombre</th>
                {#<th>MCvd</th>#}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for devise_mouvement in devise_mouvements %}
            <tr>
                <td>{{ devise_mouvement.id }}</td>
                <td>{{ devise_mouvement.sens }}</td>
                <td>{{ devise_mouvement.nombre }}</td>
                {#<td>{{ devise_mouvement.mCvd }}</td>#}
                <td>
                    <a href="{{ path('devise_mouvements_show', {'id': devise_mouvement.id}) }}">detail</a>
                    <a href="{{ path('devise_mouvements_edit', {'id': devise_mouvement.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row">
        {{ include('_pagination.html.twig',{'path':'devise_mouvements_index'}) }}
    </div>
    <a href="{{ path('devise_mouvements_new') }}">Ajouter</a>
{% endblock %}