<table class="table table-striped">
    <thead>
        <tr>
            <th class="padding-5"> Intitulé Compte</th>
            <th class="padding-5"> Numéro Compte</th>
            <th class="padding-5"> Libellé</th>
            <th class="padding-5 text-right"> Débit</th>
            <th class="padding-5 text-right"> Crédit</th>
        </tr>
    </thead>
    <tbody>
        {% for transactionCompte in transaction.transactionComptes %}
            <tr>
                <td class="padding-5 ">{{ transactionCompte.compte.intitule}}</td>
                <td class="padding-5 ">{{ transactionCompte.numCompte}}</td>
                <td class="padding-5 ">{{ transactionCompte.libelle}}</td>
                <td class="padding-5 text-right">{{ transactionCompte.mDebit|number_format(0, '.', ' ')}}</td>
                <td class="padding-5 text-right">{{ transactionCompte.mCredit|number_format(0, '.', ' ')}}</td>
            </tr>
        {% endfor %}
        <tr>
            <th class="padding-5 text-right" colspan="3"> TOTAUX </th>
            <th class="padding-5 text-right"> {{ transaction.mDebitTotal|number_format(0, '.', ' ') }}</th>
            <th class="padding-5 text-right"> {{ transaction.mCreditTotal|number_format(0, '.', ' ') }}</th>

        </tr>
        <tr>
            <td  class="text-bold padding-5 text-right" align="center" colspan="5" bgcolor="#a9a9a9"> </td>
        </tr>
    </tbody>
</table>