{% extends 'base.html.twig' %}

{% block title %}Edit Transactions{% endblock %}

{% block body %}
    <h1>Modification d'écriture comptables | <a href="{{ path('transactions_index') }}">Retour à la liste</a> |
        <a href="{{ path('transactions_ajout') }}">Nouvelle saisie Comptable</a></h1>

    {{ include('transactions/_collection_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('transactions/_delete_form.html.twig',{'returnRoute':returnRoute}) }}

    {{ include('transactions/_liste.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{   asset('js/compta_collection.js') }}"></script>
{% endblock %}