{% extends 'base.html.twig' %}

{% block title %}Transactions index{% endblock %}

{% block body %}
    <h1>Ecritures comptables |
        <a href="{{ path('transactions_ajout') }}">Nouvelle saisie Comptable</a></h1>
    <div class="table-responsive">
        <table class="table table-bordered datatable-basic">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Pièce</th>
                <th>Libellé</th>
                <th>Total Débit</th>
                <th>Total Crédit</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.id }}</td>
                <td>{{ transaction.dateTransaction ? transaction.dateTransaction|date('d-m-Y H:i:s') : '' }}</td>
                <td>{{ transaction.numPiece }}</td>
                <td>{{ transaction.libelle }}</td>
                <td>{{ transaction.mDebitTotal }}</td>
                <td>{{ transaction.mCreditTotal }}</td>
                <td>
                    <a href="{{ path('transactions_show', {'id': transaction.id}) }}"> Voir Détail</a> |
                    <a href="{{ path('transactions_edit', {'id': transaction.id}) }}"> Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement ! ! !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        {{ include('_pagination.html.twig',{'path':'transactions_index'}) }}
</div>
{% endblock %}