{% extends 'base.html.twig' %}

{% block title %}Nouvelle écriture{% endblock %}

{% block body %}
    <h1>Saisie d'une écriture comptable | <a href="{{ path('transactions_index') }}">Liste des écritures</a></h1>

    {{ include('transactions/_collection_form.html.twig') }}

    {{ include('transactions/_liste.html.twig') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#<script src="{{   asset('js/collections.js') }}"></script>#}
    <script src="{{   asset('js/compta_collection.js') }}"></script>
{% endblock %}