{% extends 'base.html.twig' %}

{% block title %}Transactions{% endblock %}

{% block body %}
    <h1>Fiche d'imputation comptable |
        <a href="{{ path('transactions_ajout') }}">Nouvelle écriture</a></h1>
    {{ include('transactions/_entete_transaction.html.twig') }}

    {{ include('transactions/_detail_transaction.html.twig') }}

    <a href="{{ path('transactions_index') }}"> Liste des écritures </a> |

    <a href="{{ path('transactions_edit', {'id': transaction.id}) }}"> Modifier</a>
     | {{ include('_btn_close.html.twig') }}
{% endblock %}