{% extends 'base.html.twig' %}

{% block title %}Details Clients{% endblock %}

{% block body %}
    <h1>Clients</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ client.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ client.prenom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ client.adresse }}</td>
            </tr>
        </tbody>
    </table>

    <div class="form-inline"><a href="{{ path('clients_index') }}">Retour à la liste</a>||

    <a href="{{ path('clients_edit', {'id': client.id}) }}">Modifier</a>||

    {{ include('clients/_delete_form.html.twig') }}
    </div>
    {{ include('clients/_liste.html.twig') }}

{% endblock %}