{% extends 'base.html.twig' %}

{% block title %}Agences index{% endblock %}

{% block body %}
    <h1>Agences index |  <a href="{{ path('agences_new') }}">Nouvelle agence</a></h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Libelle</th>
                <th>Adresse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agence in agences %}
            <tr>
                <td>{{ agence.id }}</td>
                <td>{{ agence.code }}</td>
                <td>{{ agence.libelle }}</td>
                <td>{{ agence.adresse }}</td>
                <td>
                    <a href="{{ path('agences_show', {'id': agence.id}) }}">Details</a> |
                    <a href="{{ path('agences_edit', {'id': agence.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
