{% extends 'base.html.twig' %}

{% block title %}Agences{% endblock %}

{% block body %}
    <h1>Agences</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ agence.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ agence.code }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ agence.libelle }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ agence.adresse }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('agences_index') }}">Listing</a> |

    <a href="{{ path('agences_edit', {'id': agence.id}) }}">Modifier</a> |

    {{ include('agences/_delete_form.html.twig') }}
{% endblock %}
