{% extends 'base.html.twig' %}

{% block title %}RubriqueAnalyses{% endblock %}

{% block body %}
    <h1>RubriqueAnalyses</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rubrique_analysis.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ rubrique_analysis.code }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ rubrique_analysis.libelle }}</td>
            </tr>
            <tr>
                <th>IsRecette</th>
                <td>{{ rubrique_analysis.isRecette ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('rubrique_analyses_index') }}">back to list</a>

    <a href="{{ path('rubrique_analyses_edit', {'id': rubrique_analysis.id}) }}">edit</a>

    {{ include('rubrique_analyses/_delete_form.html.twig') }}
{% endblock %}
