{% extends 'base.html.twig' %}

{% block title %} Billetages{% endblock %}

{% block body %}

    {{ form_start(form, {'attr': {'onsubmit':''} } )  }}

    <table class="table-bordered">
        <thead>
        <tr><td colspan="3"><h1 class="text-center">BILLETAGE</h1></td></tr>
        <tr><td colspan="3" class="text-center">{{ include('_btn_close.html.twig') }}<input type="submit" class="btn-info" value="Enregistrer" >
                </td></tr>
        <tr>
            <th class="text-bold padding-10 text-center" bgcolor="#f69f00">VALEUR</th>
            <th class="text-bold padding-0 text-center" bgcolor="#f69f00">NOMBRE</th> {#.vars.data|number_format(0, '.', ' ') #}
            <th class="text-bold padding-0 text-center" bgcolor="#ffb2a8">{{ form_widget(form.valeurTotal)}}</th></tr>
        </thead>
        <tbody>
        {% set i=0 %}
        {% for bl in form.billetageLignes %}
            <tr class="">
                <td class="text-bold padding-0 text-right bg-light">{{ form_errors(bl.valeurBillet) }} {{form_widget(bl.valeurBillet)}}</td>
                <td class="text-bold padding-0 text-left"  onchange="majBilletage()">{{ form_errors(bl.nbBillet) }} {{ form_widget(bl.nbBillet) }}</td>
                <td class="text-bold padding-0 text-right bg-light">{{ form_errors(bl.totalLigne) }} {{form_widget(bl.totalLigne) }}</td>
                {#<td><input  id="billetages_billetageLignes_{{i}}_valeurLigne"  name="[valeurLigne][{{ i }}]" required="required" class="form-control" value="" type="text"></td>
                #}</tr>
            {% set i=i+1 %}
        {% endfor %}
        </tbody>
    </table>
    <input type="hidden" id="nbLigne" value="{{ i }}" >
{#, {'render_rest': false}#}
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}

    {{ parent() }}

<script type="text/javascript">
    $( document ).ready(function() {
        majBilletage();
    });
    function majBilletage() {
        var nbLigne = $("#nbLigne").val()*1;
        var totalBillet = 0;
        for (j = 0; j < nbLigne; j++) {
            var nb = Echape($("#billetages_billetageLignes_" + j + "_nbBillet").val());
            var valeurBillet=Echape($("#billetages_billetageLignes_" + j + "_valeurBillet").val());
            $("#billetages_billetageLignes_" + j + "_totalLigne").val(formatMillier(valeurBillet * nb,0));

            totalBillet = totalBillet + valeurBillet * nb;

            $("#billetages_valeurTotal").val(formatMillier(totalBillet,0));


        }
    }

    /*function echapeInputs() {
        var nbLigne = $("#nbLigne").val()*1;
        for (j = 0; j < nbLigne; j++) {
           //var totalLigne=Echape($("#billetages_billetageLignes_" + j + "_totalLigne").val());
            $("#billetages_billetageLignes_" + j + "_totalLigne").val(Echape($("#billetages_billetageLignes_" + j + "_totalLigne").val()));
        }
        $("#billetages_valeurTotal").val(Echape($("#billetages_valeurTotal").val()));
    }*/

</script>

{% endblock %}