{% extends 'base.html.twig' %}

{% block title %}Billetages{% endblock %}

{% block body %}
    <table class="table-bordered">
        <thead>
            <tr><td colspan="3"><h1 class="text-center">BILLETAGE</h1></td></tr>
            <tr><td colspan="3" class="text-center">{{ include('_btn_close.html.twig') }}</td></tr>
            <tr>
                <th class="text-bold padding-10 text-right" bgcolor="#f69f00">VALEUR</th>
                <th class="text-bold padding-10 text-center" bgcolor="#f69f00">NOMBRE</th>
                <th class="text-bold padding-10 text-right" bgcolor="#ffb2a8">{{ billetage.valeurTotal|number_format(0, '.', ' ') }}</th></tr>
            </tr>
        </thead>
        <tbody>
        {% set i=0 %}
        {% for bl in billetage.billetageLignes %}
            <tr class="">
                <td  class="text-bold padding-10 text-right bg-light">{{ bl.valeurBillet|number_format(0, '.', ' ') }}</td>
                <td  class="text-bold padding-10 text-center bg-light">{{ bl.nbBillet|number_format(0, '.', ' ')  }}</td>
                <td  class="text-bold padding-10 text-right bg-light">{{ bl.totalLigne|number_format(0, '.', ' ') }}</td>
                {#<td><input  id="billetages_billetageLignes_{{i}}_valeurLigne"  name="[valeurLigne][{{ i }}]" required="required" class="form-control" value="" type="text"></td>
                #}</tr>
            {% set i=i+1 %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}