{% extends 'base.html.twig' %}

{% block title %}Billetages{% endblock %}

{% block body %}
    <h1>Billetages</h1>
    <table onchange="majBilletage()">
        <thead>
        <tr><th class="text-bold padding-0 text-left" bgcolor="#f69f00"> Date</th>
            <th class="text-bold padding-0 text-left" bgcolor="#f69f00"> {{ billetage.dateBillettage.format('d-m-Y H:i:s') }}</th>
            <th class="text-bold padding-0 text-left" bgcolor="#f69f00"> TOTAL</th> {#<td><input  id="billetages_valeurTotal"  name="billetages_valeurTotal" required="required" class="form-control" value="" > </td>#}</tr>
        <tr>
            <th class="text-bold padding-0 text-left" bgcolor="#f69f00">VALEUR</th>
            <th class="text-bold padding-0 text-left" bgcolor="#f69f00">NOMBRE</th>
            <th class="text-bold padding-0 text-left" bgcolor="#ffb2a8">{{ billetage.valeurTotal }}</th></tr>
        </thead>
        <tbody>
        {% set i=0 %}
        {% for bl in billetage.billetageLignes %}
            <tr class="">
                <td>{{ bl.valeurBillet }}</td>
                <td>{{ bl.nbBillet }}</td>
                <td>{{ bl.valeurLigne }}</td>
                {#<td><input  id="billetages_billetageLignes_{{i}}_valeurLigne"  name="[valeurLigne][{{ i }}]" required="required" class="form-control" value="" type="text"></td>
                #}</tr>
            {% set i=i+1 %}
        {% endfor %}
        </tbody>
    </table>

    {#<table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ billetage.id }}</td>
            </tr>
            <tr>
                <th>ValeurTotal</th>
                <td>{{ billetage.valeurTotal }}</td>
            </tr>
            <tr>
                <th>DateBillettage</th>
                <td>{{ billetage.dateBillettage ? billetage.dateBillettage|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('billetages_index') }}">back to list</a>

    <a href="{{ path('billetages_edit', {'id': billetage.id}) }}">edit</a>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>NbBillet</th>
            <th>ValeurLigne</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for billetage_ligne in billetage_lignes %}
            <tr>
                <td>{{ billetage_ligne.id }}</td>
                <td>{{ billetage_ligne.nbBillet }}</td>
                <td>{{ billetage_ligne.valeurLigne }}</td>
                <td>
                    <a href="{{ path('billetage_lignes_show', {'id': billetage_ligne.id}) }}">show</a>
                    <a href="{{ path('billetage_lignes_edit', {'id': billetage_ligne.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>#}

    {{ include('billetages/_delete_form.html.twig') }}
{% endblock %}