{% extends 'base.html.twig' %}

{% block title %}Billetages{% endblock %}

{% block body %}
    <h1>Billetages</h1>
    <table onchange="majBilletage()" class="table-bordered">
        <thead>
        <tr><th class="text-bold padding-0 text-left" bgcolor="#f69f00"> Date</th>
            <th class="text-bold padding-0 text-left" bgcolor="#f69f00"> {{ billetage.dateBillettage.format('d-m-Y H:i:s') }}</th>
            <th class="text-bold padding-0 text-left" bgcolor="#f69f00"> TOTAL</th> {#<td><input  id="billetages_valeurTotal"  name="billetages_valeurTotal" required="required" class="form-control" value="" > </td>#}</tr>
        <tr>
            <th class="text-bold padding-0 text-left" bgcolor="#f69f00">VALEUR</th>
            <th class="text-bold padding-0 text-left" bgcolor="#f69f00">NOMBRE</th>
            <th class="text-bold padding-0 text-left" bgcolor="#ffb2a8">{{ billetage.valeurTotal|number_format(0, '.', ' ') }}</th></tr>
        </thead>
        <tbody>
        {% set i=0 %}
        {% for bl in billetage.billetageLignes %}
            <tr class="">
                <td>{{ bl.valeurBillet|number_format(0, '.', ' ') }}</td>
                <td>{{ bl.nbBillet }}</td>
                <td>{{ bl.valeurLigne|number_format(0, '.', ' ') }}</td>
                {#<td><input  id="billetages_billetageLignes_{{i}}_valeurLigne"  name="[valeurLigne][{{ i }}]" required="required" class="form-control" value="" type="text"></td>
                #}</tr>
            {% set i=i+1 %}
        {% endfor %}
        </tbody>
    </table>
    <div class="form-group">
        {{ include('_btn_close.html.twig') }}
        <a class="btn-primary" href="{{ path('billetages_maint', {'id': billetage.id}) }}"><span class="glyphicon glyphicon-wrench"></span>Maintenir</a>
    </div>
{% endblock %}